<html>

<head>
    <title>Create Project Proposal</title>
    <%- include partials/scriptResources %>
    <link rel="stylesheet" href="css/form.css">
</head>

<body>
    <div class="main ui text container">
        <div class="ui segments" style="padding: 1.2em;">
            <form action="create-form-2" method="post">
                <div class="ui grid">
                    <div class="two column row">
                        <div class="left floated column">
                            <h1 class="ui header" style="margin-top: 0.65em;">Create Proposal Form</h1>
                        </div>
                        <div class="right floated column">
                            <img src="assets/svg/logo_opps-logo-green.svg" />
                        </div>
                    </div>
                </div>

                <h3 class="labelHead"><label>Organization/Unit<span class="red"> * </span></label></h3>
                <select required class="ui dropdown" name="org">
                    <option value="">Organization/Unit</option>
                    <option value="cso">CSO</option>
                    <option value="usg">USG</option>
                </select>
                <br />


                <h3 class="labelHead"><label>Title of the Activity <span class="red"> * </span></label></h3>
                <input class="inputron" type="text" name="title" required style="margin-top: -5px;">
                <br /><br />

                <div class="ui large form">
                    <h3 class="labelHead ui header"><label>Nature of the Activity <span class="red"> *</span></label></h3>
                    <div class="grouped fields">
                        <table class="ui two column very basic table borderless">
                            <tr>
                                <th>CSO and Special Groups</th>
                                <th>USG</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Academic" name="nature" checked="checked">
                                            <label>Academic</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Special Interest" name="nature">
                                            <label>Special Interest</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Departmental Initiative" name="nature">
                                            <label>Departmental Initiative</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Fundraising" name="nature">
                                            <label>Fundraising</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Community Development" name="nature">
                                            <label>Community Development</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Organizational Development" name="nature">
                                            <label>Organizational Development</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Issue Advocacy" name="nature">
                                            <label>Issue Advocacy</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Lasallian Formation/Spiritual Growth" name="nature">
                                            <label>Lasallian Formation/Spiritual Growth</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Outreach" name="nature">
                                            <label>Outreach</label>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Student Service" name="nature">
                                            <label>Student Service</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Student's Rights and Welfare" name="nature">
                                            <label>Student's Rights and Welfare</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Rules and Policies" name="nature">
                                            <label>Rules and Policies</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Fundraising" name="nature">
                                            <label>Fundraising</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Community Development" name="nature">
                                            <label>Community Development</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Organizational Development" name="nature">
                                            <label>Organizational Development</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Issue Advocacy" name="nature">
                                            <label>Issue Advocacy</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Lasallian Formation/Spiritual Growth" name="nature">
                                            <label>Lasallian Formation/Spiritual Growth</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Outreach" name="nature">
                                            <label>Outreach</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="ui large form">
                    <h3 class="labelHead ui header"><label>Type of the Activity <span class="red"> * </span></label></h3>
                    <div class="grouped fields">
                        <table class="ui very basic table borderless two column">
                            <tr>
                                <th><b>Through CSO/DAAM</b></th>
                                <th>Through SLIFE</th>
                            </tr>
                            <tr>
                                <td>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Assistance" name="type" checked="checked">
                                            <label>Assistance</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Awareness Campaign" name="type">
                                            <label>Awareness Campaign</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Contest" name="type">
                                            <label>Contest</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Distribution" name="type">
                                            <label>Distribution</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Focus Group Discussion" name="type">
                                            <label>Focus Group Discussion</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="General Assembly/Recognition" name="type">
                                            <label>General Assembly/Recognition</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Meeting" name="type">
                                            <label>Meeting</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Recreation" name="type">
                                            <label>Recreation</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Recruitment/Audition/Election" name="type">
                                            <label>Recruitment/Audition/Election</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Seminar/Workshop" name="type">
                                            <label>Seminar/Workshop</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Spiritual Activity" name="type">
                                            <label>Spiritual Activity</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <div class="ui transparent input"><input type="radio" value="Others" name="type">
                                                <label>Others</label><input type="text" name="typeOthers" style="width: 80%; margin-left: 10px; border-bottom: 1.5px solid !important;
                                                                        border-bottom-color: rgba(34, 36, 38, .15) !important; border-radius: 0px !important;" /></div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Concerts/Parties" name="type">
                                            <label>Concerts/Parties</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Donation Drive" name="type">
                                            <label>Donation Drive</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Fundraising Activity" name="type">
                                            <label>Fundraising Activity</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="OCCS Sponsored Seminar" name="type">
                                            <label>OCCS Sponsored Seminar</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Off-Campus Activities" name="type">
                                            <label>Off-Campus Activities</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Outreach" name="type">
                                            <label>Outreach</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Tie-Up Activity (Internal/External)" name="type">
                                            <label>Tie-Up Activity (Internal/External)</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="TV/Radio Guesting" name="type">
                                            <label>TV/Radio Guesting</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Seminar with Distinguished Speakers/Outside Participants"
                                                name="type">
                                            <label>Seminar with Distinguished Speakers/Outside
                                                Participants</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <input type="radio" value="Solicitations/Sponsorships" name="type">
                                            <label>Solicitations/Sponsorships</label>
                                        </div>
                                    </div>
                                    <div class="field">
                                        <div class="ui radio checkbox">
                                            <div class="ui transparent input"><input type="radio" value="Others" name="type">
                                                <label>Others</label><input type="text" name="typeOthers" style="width: 80%; margin-left: 10px; border-bottom: 1.5px solid !important;
                                                                        border-bottom-color: rgba(34, 36, 38, .15) !important; border-radius: 0px !important;" /></div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <br /><br>
                <div class="ui two column grid">
                    <div class="row">
                        <div class="column">
                            <span class="labelHead"><label>Date of the Activity <span class="red"> *</span></label></span>

                            <span class="ui calendar" id="startdate">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" name="startDate" placeholder="Start Date" autocomplete="off"
                                        required>
                                </div>
                            </span>
                        </div>
                    </div>

                    <div class="two column row">
                        <div class="column"><span class="labelHead"><label>Start Time of the Activity <span class="red">
                                        *</span></label></span>
                            <br />
                            <span class="ui calendar" id="starttime">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" name="startTime" placeholder="Start Time" autocomplete="off"
                                        required>
                                </div>
                            </span>
                        </div>

                        <div class="column">
                            <span class="labelHead"><label>End Time of the Activity
                                    <span class=" red"> * </span></label></span>
                            <span class="ui calendar" id="endtime">
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" name="endTime" placeholder="End Time" autocomplete="off"
                                        required>
                                </div>
                            </span>
                        </div>
                    </div> <!-- END ROW -->
                </div>

                <br /><br />
                <div class="ui grid">
                    <div class="row">
                        <div class="nine wide column">
                            <span class="labelHead"><label>Venue <span class="red"> * </span></label></span>
                            <br />
                            <input class="inputron" name="venue" type="text" required>
                        </div>

                        <div class="three wide column">
                            <span class="labelHead"><label>ENMP <span class="red"> * </span></label></span>
                            <br />
                            <input class="inputron" name="enmp" type="number" min="0" required>
                        </div>

                        <div class="three wide column">
                            <span class="labelHead"><label>ENP <span class="red"> * </span></label></span>
                            <br />
                            <input class="inputron" name="enp" type="number" min="0" required>
                        </div>
                    </div>
                </div>

                <br /><br>
                <div class="ui form">
                    <div class="grouped fields">
                        <h3 class="labelHead ui header"><label>Reach of the Activity <span class="red"> * </span></label></h3>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="Batch Wide" name="reach" checked="checked">
                                <label>Batch Wide</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="College Wide" name="reach">
                                <label>College Wide</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="Organization Wide" name="reach">
                                <label>Organization Wide</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="University Wide" name="reach">
                                <label>University Wide</label>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="ui form">
                    <div class="grouped fields">
                        <h3 class="labelHead ui header"><label>Online Activity? <span class="red"> * </span></label></h3>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="yes" name="online" checked="checked">
                                <label>Yes</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="no" name="online">
                                <label>No</label>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
                <div class="ui form">
                    <div class="grouped fields">
                        <h3 class="labelHead ui header"><label>Activity in GOSM? <span class="red"> * </span></label></h3>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="yes" name="GOSM" checked="checked">
                                <label>Yes</label>
                            </div>
                        </div>
                        <div class="field">
                            <div class="ui radio checkbox">
                                <input type="radio" value="no" name="GOSM">
                                <label>No</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui grid">
                    <div class="row">
                        <div class="four wide left floated column">
                            <!-- <button type="submit" class="fluid submit-button next">Next</button> -->
                        </div>
                        <div class="three wide centered column status">
                            <div class="container">
                                <!-- GO TO CORRESPONDING PAGE WHEN CLICKED? -->
                                <a class="pagination"><span class="circle active"></span></a>
                                <a class="pagination"><span class="circle"></span></a>
                                <a class="pagination"><span class="circle"></span></a>
                            </div>
                        </div>
                        <div class="four wide right floated column">
                            <button type="submit" class="fluid submit-button next">Next</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script>
        $('.ui.radio.checkbox').checkbox();

        // $('.ui.sticky')
        //     .sticky();

        $('#startdate').calendar({
            type: 'date'
        });
        $('#starttime').calendar({
            type: 'time'
        });
        $('#enddate').calendar({
            type: 'date'
        });
        $('#endtime').calendar({
            type: 'time'
        });
        $('.ui.dropdown').dropdown();
    </script>
</body>

</html>