<html>
    <head>
        <title>Create Project Proposal</title>
        
        <!--CSS-->
<!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
        
<!--
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
-->
        
        
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
        <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
        <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
        <link rel="stylesheet" href="css/form1.css">
        <!--Scripts-->
<!--
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
-->
    </head>
    <body>
        
        <div class="main">
            <form action="create-form-2" method="post">
                <h1>Create Project Proposal</h1>
                <span>Title of the Activity <span class="red"> * </span></span>
                <br/>
                <input class="inputron" type="text" name="title" required>
                <br/><br/>

                <div class="ui form">
                  <div class="grouped fields">
                    <label>Nature of the Activity <span class="red"> * </span></label>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Academic" name="nature" checked="checked">
                        <label>Academic</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Special Interest" name="nature">
                        <label>Special Interest</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Fundraising" name="nature">
                        <label>Fundraising</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Community Engagement" name="nature">
                        <label>Community Engagement</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Organizational Development" name="nature">
                        <label>Organizational Development</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Issue Advocacy" name="nature">
                        <label>Issue Advocacy</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Lasallian Foramation/Spritual Growth" name="nature">
                        <label>Lasallian Foramation/Spritual Growth</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Outreach" name="nature">
                        <label>Outreach</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Developmental Initiative" name="nature">
                        <label>Developmental Initiative</label>
                      </div>
                    </div>
                  </div>
                </div>
                <br/>
                <div class="ui form">
                  <div class="grouped fields">
                    <label>Type of the Activity <span class="red"> * </span></label>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Academic Contest" name="type" checked="checked">
                          <label>Academic Contest</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Distribution" name="type">
                        <label>Distribution</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="General Assembly" name="type">
                        <label>General Assembly</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Seminar/Workshop" name="type">
                        <label>Seminar/Workshop</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Publicity/Awareness Campaign" name="type">
                        <label>Publicity/Awareness Campaign</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Meetings" name="type">
                        <label>Meetings</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Spiritual Activity" name="type">
                        <label>Spiritual Activity</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Recruitment/Audition" name="type">
                        <label>Recruitment/Audition</label>
                      </div>
                    </div>  
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Recreation" name="type">
                        <label>Recreation</label>
                      </div>
                    </div>  
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Others" name="type">    
                        <label class="others2">Others</label><input type="text" name="typeOthers" class="others-input"/>
                        <!-- TADHG OVER HERE -->
                      </div>    
                    </div>
                  </div>
                </div>

                <br/><br/>
                <span>Start Date of the Activity <span class="red"> * </span></span>
                <span style="margin-left: 25%">Start Time of the Activity  <span class="red"> * </span></span>
                <br/>
                <span class="ui calendar" id="startdate">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" name="startDate" placeholder="Start Date" autocomplete="off" required>
                    </div>
                </span>
                <span style="margin-left: 18%" class="ui calendar" id="starttime">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" name="startTime" placeholder="Start Time" autocomplete="off" required>
                    </div>
                </span>
                
                <br/><br/>
                <span>End Date of the Activity <span class="red"> * </span></span>
                <span style="margin-left: 25%">End Time of the Activity  <span class="red"> * </span></span>
                <br/>
                <span class="ui calendar" id="enddate">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" name="endDate" placeholder="End Date" autocomplete="off" required>
                    </div>
                </span>
                <span style="margin-left: 18%" class="ui calendar" id="endtime">
                    <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" name="endTime" placeholder="End Time" autocomplete="off" required>
                    </div>
                </span>

                <br/><br/>
                <div class="container-of-ENMP-ENP">
                    <div class="ENMP-holder">
                        <span>Venue <span class="red"> * </span></span>
                        <br/>
                        <input class="inputron" name="venue" type="text" required>
                    </div>
                    <div class="ENMP-holder">
                        <span>ENMP <span class="red"> * </span></span>
                        <br/>
                        <input class="inputron" name="enmp" type="number" required>
                    </div>
                    <div class="EMP-holder">
                        <span>ENP <span class="red"> * </span></span>
                        <br/>
                        <input class="inputron" name="emp" type="number" required>
                    </div>
                </div>
                
                <br/>
                <div class="ui form">
                  <div class="grouped fields">
                    <label>Reach of the Activity <span class="red"> * </span></label>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Batch Wide" name="reach" checked="checked">
                          <label>Batch Wide</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="College Wide" name="reach">
                        <label>College Wide</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="Organization Wide" name="reach">
                        <label>Organization Wide</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="University Wide" name="reach">
                        <label>University Wide</label>
                      </div>
                    </div>
                  </div>
                </div>

                <br/>
                <div class="ui form">
                  <div class="grouped fields">
                    <label>Online Activity <span class="red"> * </span></label>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="yes" name="online" checked="checked">
                        <label>Yes</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="no" name="online">
                        <label>No</label>
                      </div>
                    </div>
                  </div>
                </div>

                <br/>
                <div class="ui form">
                  <div class="grouped fields">
                    <label>Activity in GOSM <span class="red"> * </span></label>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="yes" name="GOSM" checked="checked">
                        <label>Yes</label>
                      </div>
                    </div>
                    <div class="field">
                      <div class="ui radio checkbox">
                        <input type="radio" value="no" name="GOSM">
                        <label>No</label>
                      </div>
                    </div>
                  </div>
                </div>
                
                <button type="submit" class="submit-button next">Next</button>
            </form>
        </div>
        
        <script>
            $('#startdate').calendar({
                type: 'date'
            });
            $('#starttime').calendar({
                type: 'time'
            });
            $('#enddate').calendar({
                type: 'date'
            });
            $('#endtime').calendar({
                type: 'time'
            });
        </script>
    </body>
</html>