<html>
    <head>
        <title>Create Project Proposal</title>
        <%- include partials/scriptResources %>
        <link rel="stylesheet" href="css/form.css">
    </head>

    <body>

        <div class="main ui text container">
            <div class="ui segments" style="padding: 1.2em;">
                <form class="ui form" id="activityForm" action="/create-form-confirm" method="post">

                    <div class="ui grid">
                        <div class="two column row">
                            <div class="left floated column">
                                <h1 class="ui header" style="margin-top: 0.65em;">Create Proposal Form</h1>
                            </div>
                            <div class="right floated column">
                                <img src="assets/svg/logo_opps-logo-green.svg" />
                            </div>
                        </div>
                    </div>

                    <!-- Page 1-->
                    <div class="tab">
                        <h3 class="labelHead"><label>Organization/Unit<span class="red"> * </span></label></h3>
                        <select required class="ui dropdown" name="org" id="org">
                            <option value="">Organization/Unit</option>
                            <option value="cso">CSO</option>
                            <option value="usg">USG</option>
                        </select>
                        <br />

                        <h3 class="labelHead"><label>Title of the Activity <span class="red"> * </span></label></h3>
                        <input id="title" class="inputron" type="text" name="title" required style="margin-top: -5px;">
                        <br /><br />

                        <div class="ui large form">
                            <h3 class="labelHead ui header"><label>Nature of the Activity <span class="red"> *</span></label></h3>
                            <div class="grouped fields">
                                <table class="ui two column very basic table borderless">
                                    <tr>
                                        <th>CSO and Special Groups</th>
                                        <th>USG</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Academic" name="nature" checked="checked">
                                                    <label>Academic</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Special Interest" name="nature">
                                                    <label>Special Interest</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Departmental Initiative" name="nature">
                                                    <label>Departmental Initiative</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Fundraising" name="nature">
                                                    <label>Fundraising</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Community Development" name="nature">
                                                    <label>Community Development</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Organizational Development" name="nature">
                                                    <label>Organizational Development</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Issue Advocacy" name="nature">
                                                    <label>Issue Advocacy</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Lasallian Formation/Spiritual Growth" name="nature">
                                                    <label>Lasallian Formation/Spiritual Growth</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Outreach" name="nature">
                                                    <label>Outreach</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Student Service" name="nature">
                                                    <label>Student Service</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Student's Rights and Welfare" name="nature">
                                                    <label>Student's Rights and Welfare</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Rules and Policies" name="nature">
                                                    <label>Rules and Policies</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Fundraising" name="nature">
                                                    <label>Fundraising</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Community Development" name="nature">
                                                    <label>Community Development</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Organizational Development" name="nature">
                                                    <label>Organizational Development</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Issue Advocacy" name="nature">
                                                    <label>Issue Advocacy</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Lasallian Formation/Spiritual Growth" name="nature">
                                                    <label>Lasallian Formation/Spiritual Growth</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="Outreach" name="nature">
                                                    <label>Outreach</label>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="ui large form">
                            <h3 class="labelHead ui header"><label>Type of the Activity <span class="red"> * </span></label></h3>
                            <div class="grouped fields">
                                <table class="ui very basic table borderless two column">
                                    <tr>
                                        <th><b>Through CSO/DAAM</b></th>
                                        <th>Through SLIFE</th>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="CSO/DAAM-Assistance" name="type" checked="checked">
                                                    <label>Assistance</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="CSO/DAAM-Awareness Campaign" name="type">
                                                    <label>Awareness Campaign</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="CSO/DAAM-Contest" name="type">
                                                    <label>Contest</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="CSO/DAAM-Distribution" name="type">
                                                    <label>Distribution</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="CSO/DAAM-Focus Group Discussion" name="type">
                                                    <label>Focus Group Discussion</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="CSO/DAAM-CSO/DAAM-General Assembly/Recognition" name="type">
                                                    <label>General Assembly/Recognition</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="CSO/DAAM-Meeting" name="type">
                                                    <label>Meeting</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="CSO/DAAM-Recreation" name="type">
                                                    <label>Recreation</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="CSO/DAAM-Recruitment/Audition/Election" name="type">
                                                    <label>Recruitment/Audition/Election</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="CSO/DAAM-Seminar/Workshop" name="type">
                                                    <label>Seminar/Workshop</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="CSO/DAAM-Spiritual Activity" name="type">
                                                    <label>Spiritual Activity</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <div class="ui transparent input"><input type="radio" value="CSO/DAAM-Others" name="type">
                                                        <label>Others</label><input type="text" name="typeOthers" style="width: 80%; margin-left: 10px; border-bottom: 1.5px solid !important;
                                                            border-bottom-color: rgba(34, 36, 38, .15) !important; border-radius: 0px !important;" /></div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="SLIFE-Concerts/Parties" name="type">
                                                    <label>Concerts/Parties</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="SLIFE-Donation Drive" name="type">
                                                    <label>Donation Drive</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="SLIFE-Fundraising Activity" name="type">
                                                    <label>Fundraising Activity</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="SLIFE-OCCS Sponsored Seminar" name="type">
                                                    <label>OCCS Sponsored Seminar</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="SLIFE-Off-Campus Activities" name="type">
                                                    <label>Off-Campus Activities</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="SLIFE-Outreach" name="type">
                                                    <label>Outreach</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="SLIFE-Tie-Up Activity (Internal/External)" name="type">
                                                    <label>Tie-Up Activity (Internal/External)</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="SLIFE-TV/Radio Guesting" name="type">
                                                    <label>TV/Radio Guesting</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="SLIFE-Seminar with Distinguished Speakers/Outside Participants"
                                                           name="type">
                                                    <label>Seminar with Distinguished Speakers/Outside
                                                        Participants</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <input type="radio" value="SLIFE-Solicitations/Sponsorships" name="type">
                                                    <label>Solicitations/Sponsorships</label>
                                                </div>
                                            </div>
                                            <div class="field">
                                                <div class="ui radio checkbox">
                                                    <div class="ui transparent input"><input type="radio" value="SLIFE-Others" name="type">
                                                        <label>Others</label><input type="text" name="typeOthers2" style="width: 80%; margin-left: 10px; border-bottom: 1.5px solid !important;
                                                            border-bottom-color: rgba(34, 36, 38, .15) !important; border-radius: 0px !important;" /></div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <br /><br>
                        <div class="ui two column grid">
                            <div class="row">
                                <div class="column">
                                    <span class="labelHead"><label>Date of the Activity <span class="red"> *</span></label></span>

                                    <span class="ui calendar" id="startdate">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input id="date" type="text" name="startDate" placeholder="Start Date" autocomplete="off"
                                                   required>
                                        </div>
                                    </span>
                                </div>
                            </div>

                            <div class="two column row">
                                <div class="column"><span class="labelHead"><label>Start Time of the Activity <span class="red">
                                    *</span></label></span>
                                    <br />
                                    <span class="ui calendar" id="starttime">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input id="startTime" type="text" name="startTime" placeholder="Start Time" autocomplete="off"
                                                   required>
                                        </div>
                                    </span>
                                </div>

                                <div class="column">
                                    <span class="labelHead"><label>End Time of the Activity
                                        <span class=" red"> * </span></label></span>
                                    <span class="ui calendar" id="endtime">
                                        <div class="ui input left icon">
                                            <i class="calendar icon"></i>
                                            <input id="endTime" type="text" name="endTime" placeholder="End Time" autocomplete="off"
                                                   required>
                                        </div>
                                    </span>
                                </div>
                            </div> <!-- END ROW -->
                        </div>

                        <br /><br />
                        <div class="ui grid">
                            <div class="row">
                                <div class="nine wide column">
                                    <span class="labelHead"><label>Venue <span class="red"> * </span></label></span>
                                    <br />
                                    <input id="venue" class="inputron" name="venue" type="text" required>
                                </div>

                                <div class="three wide column">
                                    <span class="labelHead"><label>ENMP <span class="red"> * </span></label></span>
                                    <br />
                                    <input id="enmp" class="inputron" name="enmp" type="number" min="0" required>
                                </div>

                                <div class="three wide column">
                                    <span class="labelHead"><label>ENP <span class="red"> * </span></label></span>
                                    <br />
                                    <input id="enp" class="inputron" name="enp" type="number" min="0" required>
                                </div>
                            </div>
                        </div>

                        <br /><br>
                        <div class="ui form">
                            <div class="grouped fields">
                                <h3 class="labelHead ui header"><label>Reach of the Activity <span class="red"> * </span></label></h3>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="Batch Wide" name="reach" checked="checked">
                                        <label>Batch Wide</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="College Wide" name="reach">
                                        <label>College Wide</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="Organization Wide" name="reach">
                                        <label>Organization Wide</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="University Wide" name="reach">
                                        <label>University Wide</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="ui form">
                            <div class="grouped fields">
                                <h3 class="labelHead ui header"><label>Online Activity? <span class="red"> * </span></label></h3>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="yes" name="online" checked="checked">
                                        <label>Yes</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="no" name="online">
                                        <label>No</label>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <br />
                        <div class="ui form">
                            <div class="grouped fields">
                                <h3 class="labelHead ui header"><label>Activity in GOSM? <span class="red"> * </span></label></h3>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="yes" name="GOSM" checked="checked">
                                        <label>Yes</label>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="ui radio checkbox">
                                        <input type="radio" value="no" name="GOSM">
                                        <label>No</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Page 2-->
                    <div class="tab">
                        <h3 class="labelHead ui header">Brief Context /
                            Perspective of the Activity</h3>

                        <div class="required field">
                            <h5 class="labelHead ui header"><label>Part 1 <span class="red"> *</span></label></h5>
                            <ol class="ui list">
                                <li value="-">What situation do you see (observation/s) in your organization, university,
                                    society, or our
                                    world?</li>
                                <li value="-">What certain experiences, problems, or questions do you have in
                                    relation to
                                    what you see?
                                    <em>(May
                                        be
                                        supported with examples)</em></li>
                            </ol>
                            <textarea id="context1" name='context1' rows="2" style="resize: none;" required></textarea>
                        </div>
                        <br>

                        <div class="required field">
                            <h5 class="labelHead ui header"><label>Part 2 <span class="red"> *</span></label></h5>
                            <ol class="ui list">
                                <li value="-">Why is there a problem?</li>
                                <li value="-">What could be the cause and the effect?</li>
                                <li value="-">How did you feel about the experience, situation, or problem? And why did you
                                    feel
                                    that
                                    way?</li>
                                <li value="-">What can we discover or realize?</li>
                            </ol>
                            <textarea id="context2" rows="2" name='context2' style="resize: none;" required></textarea>
                        </div>

                        <br />

                        <div class="required field">
                            <h5 class="labelHead ui header"><label>Part 3 <span class="red"> *</span></label></h5>
                            <ol class="ui list">
                                <li value="-">Out of all the possible projects, activities, and solutions, why this?</li>
                                <li value="-">As an organization, what will you commit as a response to what you have
                                    started
                                    in
                                    Part 2?</li>
                            </ol>
                            <textarea id="context3" rows="2" name='context3' style="resize: none;" required></textarea>
                        </div>

                        <br />
                        <h3 class="labelHead ui header"><label>Objectives<span class="red"> *</span></label></h3>
                        <div class="field">
                            <label>1.</label>
                            <input id="objective1" class="inputron" name='objective1' type="text" required>
                        </div>
                        <br /><br />
                        <div>
                            <label>2.</label>
                            <input id="objective2" class="inputron" name='objective2' type="text" required>
                        </div>
                        <br /><br />
                        <div>
                            <label>3.</label>
                            <input id="objective3" class="inputron" name='objective3' type="text" required>
                        </div>
                        <br /><br />

                        <input style="display:none;" value='0' id="dynamicTable1length" name="dynamicTable1len">
                        <h3 class="labelHead ui header"><label>Project Head/s <span class="red"> *</span></label></h3>
                        <table class="ui compact celled definition fixed table unstackable" id="dynamicTable1">
                            <thead class="full-width">
                                <tr style="text-align: center;">
                                    <th style="width: 40px;"></th>
                                    <th class="item">Name</th>
                                    <th class="item five wide">Contact Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr value=0>
                                    <td class="collapsing">
                                        <div class="ui fitted checkbox">
                                            <input type="checkbox" name="phead_check"><label></label>
                                        </div>
                                    </td>
                                    <td><input id="phead_name0" class="inputron no-margin" name="phead_name0" type="text" required></td>
                                    <td><input id="phead_number0" class="inputron no-margin" name="phead_number0" type="number" required></td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="row-button next" id="btnAddPhead">Add Row</button>
                        <button type="button" class="row-button previous" id="btnDeletePhead">Delete
                            Row</button>

                        <br /><br />
                        <input style="display:none;" value='0' id="dynamicTable2length" name="dynamicTable2len">
                        <h3 class="labelHead ui header"><label>Comprehensive Program Design <span class="red"> *</span></label></h3>
                        <table class="ui compact celled definition fixed table unstackable" id="dynamicTable2">
                            <thead class="full-width">
                                <tr style="text-align: center;">
                                    <th style="width: 40px;"></th>
                                    <th class="item">Start Time to End Time</th>
                                    <th class="item">Activity</th>
                                    <th class="item five wide">Brief Description of the Activity</th>
                                    <th class="item">Person-in-charge</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr value=0>
                                    <td class="collapsing">
                                        <div class="ui fitted checkbox">
                                            <input type="checkbox"> <label></label>
                                        </div>
                                    </td>
                                    <td><input class="inputron no-margin" type="time" name="startTime0" required>
                                        <input class="inputron no-margin" type="time" name="endTime0" required></td>
                                    <td><textarea class="row-textarea" name="activity0" required></textarea></td>
                                    <td><textarea class="row-textarea" name="description0" required></textarea></td>
                                    <td><textarea class="row-textarea" name="person0" required></textarea></td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="row-button next" id="btnAddCPD">Add Row</button>
                        <button type="button" class="row-button previous" id="btnDeleteCPD">Delete Row</button>
                        <br/><br/><br/><br/>
                    </div>

                    <!--Page 3-->
                    <div class="tab">
                        <input style="display:none;" value='0' id="dynamicTable3length" name="dynamicTable3len">
                        <h3 class="labelHead ui header"><label>Breakdown of Expenses <span class="red">*</span></label></h3>
                        <table class="ui compact celled definition fixed table unstackable" id="dynamicTable3">
                            <thead class="full-width">
                                <tr style="text-align: center;">
                                    <th style="width: 40px;"></th>
                                    <th class="item">Materials</th>
                                    <th class="item">Quantity</th>
                                    <th class="item">Unit Cost</th>
                                    <th class="item">Total Cost</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="collapsing">
                                        <div class="ui fitted checkbox">
                                            <input type="checkbox"> <label></label>
                                        </div>
                                    </td>
                                    <td><input class="inputron no-margin" type="text" name="material0" required></td>
                                    <td><input class="inputron no-margin" type="number" name="quantity0" onkeyup="computeBOE()"
                                               value=0 min=0 required></td>
                                    <td><input class="inputron no-margin" type="number" name="unit0" onkeyup="computeBOE()"
                                               value=0.00 min=0 step=0.01 required></td>
                                    <td class="bg-gray" name="BOE_subtotal0">Php 0.00</td>
                                </tr>
                            </tbody>
                            <tfoot class="full-width">
                                <tr>
                                    <th></th>
                                    <th colspan="3" class="total">
                                        <div class="ui right floated small primary labeled">
                                            Total:
                                        </div>
                                    </th>
                                    <th class="result" name="boeTotal">Php 0.00</th>
                                </tr>
                            </tfoot>
                        </table>
                        <button type="button" class="row-button next" id="btnAddBOE">Add Row</button>
                        <button type="button" class="row-button previous" id="btnDeleteBOE">Delete Row</button>

                        <br /><br />
                        <h3 class="labelHead ui header"><label>Source of Funds <span class="red">*</span></label></h3>
                        <table class="ui compact celled definition fixed table basic unstackable">
                            <thead class="full-width">
                                <tr style="text-align: center;">
                                    <th class="item eleven wide">Source/s of Funds</th>
                                    <th class="item three wide">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Organizational Funds</td>
                                    <td>Php <input class="inputron no-margin table_input" name="OrganizationalFunds" type="number"
                                                   value="0.00" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>Participants Fee</td>
                                    <td>Php <input class="inputron no-margin table_input" name="ParticipantsFee" type="number"
                                                   value="0.00" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <td>Others (i.e. Sponsorships)</td>
                                    <td>Php <input class="inputron no-margin table_input" name="OtherFunds" type="number" value="0.00"
                                                   min="0" step="0.01" required></td>
                                </tr>
                            </tbody>
                            <tfoot class="full-width">
                                <tr>
                                    <th colspan="1" class="total">
                                        <div class="ui right floated small primary labeled">
                                            Total:
                                        </div>
                                    </th>
                                    <th class="result" name="totalSource">Php 0.00</th>
                                </tr>
                            </tfoot>
                        </table>

                        <br>
                        <h3 class="labelHead ui header"><label>Organizational Funds <span class="red">*</span></label></h3>
                        <table class="ui compact celled definition fixed table basic unstackable">
                            <thead class="full-width">
                                <tr style="text-align: left;">
                                    <!-- <th style="width: 40px;"></th> -->
                                    <!-- <th class="item" style="width: 50%">Accumulated Operational Funds</th> -->
                                    <th class="item eleven wide" style="border-right: none;">Accumulated Operational Funds</th>
                                    <th class="item four wide" style="border-left: none;"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <td class="collapsing">

</td> -->
                                    <td>
                                        <div class="right">
                                            Operational Fund
                                        </div>
                                    </td>
                                    <td>Php <input class="inputron no-margin table_input" name="OperationalFund" type="number"
                                                   value="0.00" min="0" step="0.01" required></td>
                                </tr>

                                <tr>
                                    <!-- <td class="collapsing">

</td> -->
                                    <td colspan="2" style="background: white; padding-top: 0.8em; padding-bottom: 0.8em;">Accumulated
                                        Depository Funds</td>

                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <!-- <td class="collapsing">

</td> -->
                                    <td>
                                        <div class="right">
                                            Depository Fund
                                        </div>
                                    </td>
                                    <td>Php <input class="inputron no-margin table_input" name="DepositoryFund" type="number"
                                                   value="0.00" min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <!-- <td class="collapsing">

</td> -->
                                    <td colspan="2" style="background: white; padding-top: 0.8em; padding-bottom: 0.8em;">Other
                                        Sources of Funds</td>
                                    <!-- <td></td> -->
                                </tr>
                                <tr>
                                    <!-- <td class="collapsing">

</td> -->
                                    <td>
                                        <div class="right">
                                            Participants Fee/Donation/Sponsorships
                                        </div>
                                    </td>
                                    <td>Php <input class="inputron no-margin table_input" name="OtherFund" type="number" value="0.00"
                                                   min="0" step="0.01" required></td>
                                </tr>
                                <tr>
                                    <!-- <td class="collapsing">

</td> -->
                                    <td class="bg-gray bold">
                                        <div class="right italics">
                                            Total Cash For Disbursement
                                        </div>
                                    </td>
                                    <td style="background-color: #F7F7F7;" name="totalDisbursement">Php 0.00</td>
                                </tr>
                                <tr>
                                    <!-- <td class="collapsing">

</td> -->
                                    <td>
                                        <div class="right bold">
                                            Less: Total Projected Expenses
                                        </div>
                                    </td>
                                    <td style="background-color: #F7F7F7;">Php 0.00</td>
                                </tr>
                                <tr>
                                    <!-- <td class="collapsing">

</td> -->
                                    <td class="bg-gray">
                                        <div class="right bold">
                                            REMAINING BALANCE
                                        </div>
                                    </td>
                                    <td style="background-color: #F7F7F7;">Php 0.00</td>
                                </tr>
                            </tbody>
                        </table>

                        <br>
                        <input style="display:none;" value='0' id="dynamicTable4length" name="dynamicTable4len">
                        <h3 class="labelHead ui header"><label>Projected Income <span class="red">*</span></label></h3>
                        <table class="ui compact celled definition fixed table unstackable" id="dynamicTable4">
                            <thead class="full-width">
                                <tr>
                                    <th style="width:40px"></th>
                                    <th colspan="4">Projected Revenue</th>
                                    <!-- <th class="pj-border"></th>
<th class="pj-border"></th>
<th class="pj-border"></th> -->
                                </tr>
                                <tr style="text-align: center;">
                                    <th style="width: 40px;"></th>
                                    <th class="item">Item</th>
                                    <th class="item">Qty</th>
                                    <th class="item">Selling Price</th>
                                    <th class="item">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="collapsing">
                                        <div class="ui fitted checkbox">
                                            <input type="checkbox"> <label></label>
                                        </div>
                                    </td>
                                    <td><input class="inputron no-margin" type="text" name="item0" required></td>
                                    <td><input class="inputron no-margin" type="number" name="qty0" onkeyup="computeRev()"
                                               value="0" min="0"></td>
                                    <td><input class="inputron no-margin" name="price0" onkeyup="computeRev()" type="number"
                                               value="0.00" min="0" step="0.01" required></td>
                                    <td class="bg-gray" name="amount0">Php 0.00</td>
                                </tr>
                            </tbody>
                        </table>
                        <button type="button" class="row-button next" id="btnAddProjRev">Add Row</button>
                        <button type="button" class="row-button previous" id="btnDeleteProjRev">Delete Row</button>

                        <!-- <br><br> -->
                        <input style="display:none;" value='0' id="dynamicTable5length" name="dynamicTable5len">
                        <table class="ui compact celled definition fixed table unstackable" id="dynamicTable5">
                            <thead class="full-width">
                                <tr>
                                    <th style="width:40px"></th>
                                    <th colspan="4">Less: Projected Expenses</th>
                                </tr>
                                <tr style="text-align: center;">
                                    <th style="width: 40px;"></th>
                                    <th class="item">Item</th>
                                    <th class="item">Qty</th>
                                    <th class="item">Selling Price</th>
                                    <th class="item">Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="collapsing">
                                        <div class="ui fitted checkbox">
                                            <input type="checkbox"> <label></label>
                                        </div>
                                    </td>
                                    <td><input class="inputron no-margin" type="text" name="it0" required></td>
                                    <td><input class="inputron no-margin" type="number" name="qu0" onkeyup="computeExp()"
                                               required value="0" min="0"></td>
                                    <td><input class="inputron no-margin" name="pr0" type="number" onkeyup="computeExp()" value="0.00"
                                               min="0" step="0.01" required></td>
                                    <td class="bg-gray" name="am0">Php 0.00</td>
                                </tr>
                            </tbody>
                            <tfoot class="full-width">
                                <tr>
                                    <th></th>
                                    <th colspan="3" class="total">
                                        <div class="ui right floated small primary labeled">
                                            <!-- Income = Revenue - Expenses -->
                                            Total Projected Income:
                                        </div>
                                    </th>
                                    <th name="projIncomeTotal">Php 0.00</th>
                                </tr>
                            </tfoot>
                        </table>
                        <button type="button" class="row-button next" id="btnAddProjExp">Add Row</button>
                        <button type="button" class="row-button previous" id="btnDeleteProjExp">Delete Row</button>

                        <br /><br />
                        <h3 class="labelHead ui header"><label>Provision for Profit and Loss</label></h3>
                        The following people shall be held liable and will shoulder any remaining balance incurred
                        by the project.<br><br>

                        <span>Name of Person Responsible <em>(aside from you)</em><span class="red"> *</span></span>
                        <br />
                        <input class="inputron" name='namePR' type="text" required>
                        <br /><br />
                        <span>Position of Person Responsible<span class="red"> *</span></span>
                        <br />
                        <input class="inputron" name='positionPR' type="text" required>
                        <br /><br />
                    </div>

                    <div id="error" style="display: none;" class="ui red message">
                        <div style="text-align: center;" class="header">
                            Please fill out all the fields.
                        </div>
                    </div>

                    <div class="ui grid">
                        <div class="row"></div>
                        <div class="row">
                            <div class="four wide right floated column">
                                <button class="fluid submit-button previous" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                                <button class="fluid submit-button next" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
                            </div>
                        </div>
                    </div>



                    <!-- Circles which indicates the steps of the form: -->
                    <div style="text-align:center;margin-top:40px;">
                        <span class="step"></span>
                        <span class="step"></span>
                        <span class="step"></span>
                    </div>

                </form>
            </div>
        </div>

        <script>
            var currentTab = 0; // Current page is set to be the first page (0)
            showTab(currentTab); // Display the current page

            function showTab(n) {
                // This function will display the specified page of the form ...
                var x = document.getElementsByClassName("tab");
                x[n].style.display = "block";
                // ... and fix the Previous/Next buttons:
                if (n == 0) {
                    document.getElementById("prevBtn").style.display = "none";
                } else {
                    document.getElementById("prevBtn").style.display = "inline";
                }

                if (n == (x.length-1)) {
                    document.getElementById("nextBtn").innerHTML = "Submit";
                } else {
                    document.getElementById("nextBtn").innerHTML = "Next";
                }

                // ... and run a function that displays the correct step indicator:
                fixStepIndicator(n)
            }

            function nextPrev(n) {
                // This function will figure out which tab to display
                var x = document.getElementsByClassName("tab");
                // Exit the function if any field in the current tab is invalid:

                if (n == 1 && !validateForm()) {
                    alert("ERROR")
                    $('#error').show();
                    return false;
                }
                // Hide the current tab:
                $('#error').hide();
                x[currentTab].style.display = "none";
                // Increase or decrease the current tab by 1:
                currentTab = currentTab + n;
                // if you have reached the end of the form... :
                if (currentTab >= x.length) {
                    //...the form gets submitted:
                    document.getElementById("activityForm").submit();
                    return false;
                }
                // Otherwise, display the correct tab:
                showTab(currentTab);
            }

            function validateForm() {
                var valid = true;

                if(currentTab == 0) {
                    if($("#org").val() == "")
                        valid = false;
                    if($("#title").val() == "")
                        valid = false;
                    if($("#date").val() == "")
                        valid = false;
                    if($("#startTime").val() == "")
                        valid = false;
                    if($("#endTime").val() == "")
                        valid = false;
                    if($("#venue").val() == "")
                        valid = false;
                    if($("#enmp").val() == "")
                        valid = false;
                    if($("#enp").val() == "")
                        valid = false;

                } else if (currentTab == 1) {
                    if($("#context1").val() == "")
                        valid = false;
                    if($("#context2").val() == "")
                        valid = false;
                    if($("#context3").val() == "")
                        valid = false;
                    if($("#objective1").val() == "")
                        valid = false;
                    if($("#objective2").val() == "")
                        valid = false;
                    if($("#objective3").val() == "")
                        valid = false;

                    for (var i = 1; i < document.getElementById("dynamicTable1").rows.length; i++) {
                        if ($('#phead_name'+i).val() == "" || $('#phead_number'+i).val() == "")
                            valid = false;
                    }

                } else if (currentTab == 2) {

                }

                if (valid) {
                    document.getElementsByClassName("step")[currentTab].className += " finish";
                }

                return valid;


            }

            function fixStepIndicator(n) {
                // This function removes the "active" class of all steps...
                var i, x = document.getElementsByClassName("step");
                for (i = 0; i < x.length; i++) {
                    x[i].className = x[i].className.replace(" active", "");
                }
                //... and adds the "active" class to the current step:
                x[n].className += " active";
            }

            $('.ui.radio.checkbox').checkbox();

            $('#startdate').calendar({
                type: 'date'
            });
            $('#starttime').calendar({
                type: 'time'
            });
            $('#enddate').calendar({
                type: 'date'
            });
            $('#endtime').calendar({
                type: 'time'
            });
            $('.ui.dropdown').dropdown();

            //add project head
            function addPhead() {
                var row = document.createElement("tr");
                var col1 = document.createElement("td");
                col1.className = "collapsing";
                var div = document.createElement("div");
                div.className = "ui fitted checkbox";
                var cBox = document.createElement("input");
                cBox.setAttribute('type', 'checkbox');
                cBox.setAttribute('name', 'phead_check');
                var label = document.createElement("label");

                var tableLength = document.getElementById("dynamicTable1length");
                console.log(tableLength.value)
                row.setAttribute('value', tableLength.value)
                console.log(tableLength.value)
                tableLength.setAttribute('value', parseInt(tableLength.value, 10) + 1)

                div.append(cBox);
                div.append(label);
                col1.append(div);

                var col2 = document.createElement("td");
                var input2 = document.createElement("input");
                input2.className = "inputron no-margin";
                input2.setAttribute('type', 'text');
                input2.setAttribute('required', true);
                input2.setAttribute('name', 'phead_name' + tableLength.value);
                input2.setAttribute('id', 'phead_name' + tableLength.value);
                col2.append(input2);

                var col3 = document.createElement("td");
                var input3 = document.createElement("input");
                input3.className = "inputron no-margin";
                input3.setAttribute('type', 'number');
                input3.setAttribute('required', true);
                input3.setAttribute('name', 'phead_number' + tableLength.value)
                input3.setAttribute('id', 'phead_number' + tableLength.value)
                col3.append(input3);

                row.append(col1);
                row.append(col2);
                row.append(col3);

                $("#dynamicTable1").find('tbody').append(row);

                console.log('ADD PHEAD()');
            }

            //delete project head
            function deletePhead() {
                let tableRef = document.getElementById('dynamicTable1');
                let tbody = tableRef.querySelector("tbody");

                let checkedInputs = document.querySelectorAll("input[type='checkbox']:checked");
                Array.prototype.slice.call(checkedInputs)
                    .forEach(input => tbody.removeChild(input.parentNode.parentNode.parentNode))

                var i;

                //reset index
                for (i = 0; i < document.getElementById("dynamicTable1").rows.length; i++) {
                    for (var j = 0; j < document.getElementById("dynamicTable1").rows[i].cells.length; j++) {
                        if (i > 0 && j == 1) {
                            document.getElementById("dynamicTable1").rows[i].cells[j].firstElementChild.name = 'phead_name' +
                                (i - 1)
                        }
                        if (i > 0 && j == 2) {
                            document.getElementById("dynamicTable1").rows[i].cells[j].firstElementChild.name =
                                'phead_number' + (i - 1)
                        }
                    }
                }

                var tableLength = document.getElementById("dynamicTable1length");
                tableLength.setAttribute('value', i - 2)
                console.log('DELETE PHEAD()');
            }

            //add row in comprehensive projgram design table
            function addCPD() {
                var row = document.createElement("tr");
                var col1 = document.createElement("td");
                col1.className = "collapsing";
                var div = document.createElement("div");
                div.className = "ui fitted checkbox";
                var cBox = document.createElement("input");
                cBox.setAttribute('type', 'checkbox');
                var label = document.createElement("label");

                var tableLength = document.getElementById("dynamicTable2length");
                row.setAttribute('value', tableLength.value)
                tableLength.setAttribute('value', parseInt(tableLength.value, 10) + 1)

                div.append(cBox);
                div.append(label);
                col1.append(div);

                var col2 = document.createElement("td");
                var input2 = document.createElement("input");
                input2.className = "inputron no-margin";
                input2.setAttribute('type', 'time');
                input2.setAttribute('required', true);
                input2.setAttribute('name', 'startTime' + tableLength.value);
                var input6 = document.createElement("input");
                input6.className = "inputron no-margin";
                input6.setAttribute('type', 'time');
                input6.setAttribute('required', true);
                input6.setAttribute('name', 'endTime' + tableLength.value);
                col2.append(input2);
                col2.append(input6);

                var col3 = document.createElement("td");
                var input3 = document.createElement("textarea");
                input3.className = "row-textarea";
                input3.setAttribute('required', true);
                input3.setAttribute('name', 'activity' + tableLength.value);
                col3.append(input3);

                var col4 = document.createElement("td");
                var input4 = document.createElement("textarea");
                input4.className = "row-textarea";
                input4.setAttribute('required', true);
                input4.setAttribute('name', 'description' + tableLength.value);
                col4.append(input4);

                var col5 = document.createElement("td");
                var input5 = document.createElement("textarea");
                input5.className = "row-textarea";
                input5.setAttribute('required', true);
                input5.setAttribute('name', 'person' + tableLength.value);
                col5.append(input5);

                row.append(col1);
                row.append(col2);
                row.append(col3);
                row.append(col4);
                row.append(col5);

                $("#dynamicTable2").find('tbody').append(row);

                console.log('ADD ROW()');
            }

            //delete row in comprehensive program design table
            function deleteCPD() {
                let tableRef = document.getElementById('dynamicTable2');
                let tbody = tableRef.querySelector("tbody");

                let checkedInputs = document.querySelectorAll("input[type='checkbox']:checked");
                Array.prototype.slice.call(checkedInputs)
                    .forEach(input => tbody.removeChild(input.parentNode.parentNode.parentNode));

                var i;
                //reset index
                for (i = 0; i < document.getElementById("dynamicTable2").rows.length; i++) {
                    for (var j = 0; j < document.getElementById("dynamicTable2").rows[i].cells.length; j++) {
                        if (i > 0 && j == 1) {
                            document.getElementById("dynamicTable2").rows[i].cells[j].firstElementChild.name = 'startTime' +
                                (i - 1);
                            document.getElementById("dynamicTable2").rows[i].cells[j].childNodes[1].name = 'endTime' + (i -
                                                                                                                        1);
                        }
                        if (i > 0 && j == 2) {
                            document.getElementById("dynamicTable2").rows[i].cells[j].firstElementChild.name = 'activity' +
                                (i - 1);
                        }
                        if (i > 0 && j == 3) {
                            document.getElementById("dynamicTable2").rows[i].cells[j].firstElementChild.name =
                                'description' + (i - 1);
                        }
                        if (i > 0 && j == 4) {
                            document.getElementById("dynamicTable2").rows[i].cells[j].firstElementChild.name = 'person' + (
                                i - 1);
                        }
                    }
                }

                var tableLength = document.getElementById("dynamicTable2length");
                tableLength.setAttribute('value', i - 2)
                console.log('DELETE ROW()');
            }

            //add row in break down of expenses
            function addBOE() {
                var row = document.createElement("tr");
                var col1 = document.createElement("td");
                col1.className = "collapsing";
                var div = document.createElement("div");
                div.className = "ui fitted checkbox";
                var cBox = document.createElement("input");
                cBox.setAttribute('type', 'checkbox');
                var label = document.createElement("label");

                var tableLength = document.getElementById("dynamicTable3length");
                row.setAttribute('value', tableLength.value)
                tableLength.setAttribute('value', parseInt(tableLength.value, 10) + 1)

                div.append(cBox);
                div.append(label);
                col1.append(div);

                var col2 = document.createElement("td");
                var input2 = document.createElement("input");
                input2.className = "inputron no-margin";
                input2.setAttribute('type', 'text');
                input2.setAttribute('required', true);
                input2.setAttribute('name', 'material' + tableLength.value);
                col2.append(input2);

                var col3 = document.createElement("td");
                var input3 = document.createElement("input");
                input3.className = "inputron no-margin";
                input3.setAttribute('type', 'number');
                input3.setAttribute('required', true);
                input3.setAttribute('onkeyup', 'computeBOE()');
                input3.setAttribute('min', 0);
                input3.setAttribute('value', 0);
                input3.setAttribute('name', 'quantity' + tableLength.value);
                col3.append(input3);

                var col4 = document.createElement("td");
                var input4 = document.createElement("input");
                input4.className = "inputron no-margin";
                input4.setAttribute('type', 'number');
                input4.setAttribute('required', true);
                input4.setAttribute('onkeyup', 'computeBOE()');
                input4.setAttribute('name', 'unit' + tableLength.value);
                input4.setAttribute('min', 0);
                input4.setAttribute('value', 0.00);
                input4.setAttribute('step', 0.01)
                col4.append(input4);

                var col5 = document.createElement("td");
                col5.className = "bg-gray";
                col5.setAttribute('name', 'BOE_subtotal' + tableLength.value);
                col5.innerHTML = 'Php 0.00'

                row.append(col1);
                row.append(col2);
                row.append(col3);
                row.append(col4);
                row.append(col5);

                $("#dynamicTable3").find('tbody').append(row);
            }

            function computeBOE() {
                var rowCount = $('#dynamicTable3 tr').length - 2;
                var totalBOE = 0;

                for (var num = 0; num < rowCount; num++) {
                    $("input[name=quantity" + num + "]").each(function () {
                        subtotal_BOE = $("input[name=unit" + num + "]").val() * parseFloat($(
                            this).val());
                    });
                    $("input[name=unit" + num + "]").each(function () {
                        subtotal_BOE = $("input[name=quantity" + num + "]").val() * parseFloat(
                            $(this).val());
                    });
                    $("td[name=BOE_subtotal" + num + "]").text("Php " + subtotal_BOE.toFixed(2));
                    totalBOE += subtotal_BOE;
                }

                $("th[name=boeTotal]").text("Php " + totalBOE.toFixed(2));
            }

            function deleteBOE() {
                let tableRef = document.getElementById('dynamicTable3');
                let tbody = tableRef.querySelector("tbody");

                let checkedInputs = document.querySelectorAll("input[type='checkbox']:checked");
                Array.prototype.slice.call(checkedInputs)
                    .forEach(input => tbody.removeChild(input.parentNode.parentNode.parentNode))

                var i;
                //reset index
                for (i = 0; i < document.getElementById("dynamicTable3").rows.length - 1; i++) {
                    for (var j = 0; j < document.getElementById("dynamicTable3").rows[i].cells.length; j++) {
                        if (i > 0 && j == 1) {
                            document.getElementById("dynamicTable3").rows[i].cells[j].firstElementChild.name = 'material' +
                                (i - 1);
                        }
                        if (i > 0 && j == 2) {
                            document.getElementById("dynamicTable3").rows[i].cells[j].firstElementChild.name = 'quantity' +
                                (i - 1);
                        }
                        if (i > 0 && j == 3) {
                            document.getElementById("dynamicTable3").rows[i].cells[j].firstElementChild.name = 'unit' + (i -
                                                                                                                         1);
                        }
                        if (i > 0 && j == 4) {
                            document.getElementById("dynamicTable3").rows[i].cells[j].setAttribute('name', 'BOE_subtotal' +
                                                                                                   (i - 1));
                        }
                    }
                }

                var tableLength = document.getElementById("dynamicTable3length");
                tableLength.setAttribute('value', i - 2)
                console.log('DELETE BOE()');

                computeBOE();
            }

            //add row in projected revenue
            function addProjRev() {
                var row = document.createElement("tr");
                var col1 = document.createElement("td");
                col1.className = "collapsing";
                var div = document.createElement("div");
                div.className = "ui fitted checkbox";
                var cBox = document.createElement("input");
                cBox.setAttribute('type', 'checkbox');
                var label = document.createElement("label");

                var tableLength = document.getElementById("dynamicTable4length");
                row.setAttribute('value', tableLength.value)
                tableLength.setAttribute('value', parseInt(tableLength.value, 10) + 1)

                div.append(cBox);
                div.append(label);
                col1.append(div);

                var col2 = document.createElement("td");
                var input2 = document.createElement("input");
                input2.className = "inputron no-margin";
                input2.setAttribute('type', 'text');
                input2.setAttribute('required', true);
                input2.setAttribute('name', 'item' + tableLength.value);
                col2.append(input2);

                var col3 = document.createElement("td");
                var input3 = document.createElement("input");
                input3.className = "inputron no-margin";
                input3.setAttribute('type', 'number');
                input3.setAttribute('required', true);
                input3.setAttribute('name', 'qty' + tableLength.value);
                input3.setAttribute('onkeyup', 'computeRev()');
                input3.setAttribute('min', 0);
                input3.setAttribute('value', 0);
                col3.append(input3);

                var col4 = document.createElement("td");
                var input4 = document.createElement("input");
                input4.className = "inputron no-margin";
                input4.setAttribute('type', 'number');
                input4.setAttribute('required', true);
                input4.setAttribute('name', 'price' + tableLength.value);
                input4.setAttribute('onkeyup', 'computeRev()');
                input4.setAttribute('min', 0);
                input4.setAttribute('value', 0.00);
                input4.setAttribute('step', 0.01)
                col4.append(input4);

                var col5 = document.createElement("td");
                col5.className = "bg-gray";
                col5.setAttribute('name', 'amount' + tableLength.value);
                col5.innerHTML = "Php 0.00";

                row.append(col1);
                row.append(col2);
                row.append(col3);
                row.append(col4);
                row.append(col5);

                $("#dynamicTable4").find('tbody').append(row);

                console.log('ADD ProjRev()');
            }

            //delete row in projected revenue
            function deleteProjRev() {
                let tableRef = document.getElementById('dynamicTable4');
                let tbody = tableRef.querySelector("tbody");

                let checkedInputs = document.querySelectorAll("input[type='checkbox']:checked");
                Array.prototype.slice.call(checkedInputs)
                    .forEach(input => tbody.removeChild(input.parentNode.parentNode.parentNode))

                var i;
                //reset index
                for (i = 0; i < document.getElementById("dynamicTable4").rows.length; i++) {
                    for (var j = 0; j < document.getElementById("dynamicTable4").rows[i].cells.length; j++) {
                        if (i > 1 && j == 1) {
                            document.getElementById("dynamicTable4").rows[i].cells[j].firstElementChild.name = 'item' + (i -
                                                                                                                         2);
                        }
                        if (i > 1 && j == 2) {
                            document.getElementById("dynamicTable4").rows[i].cells[j].firstElementChild.name = 'qty' + (i -
                                                                                                                        2);
                        }
                        if (i > 1 && j == 3) {
                            document.getElementById("dynamicTable4").rows[i].cells[j].firstElementChild.name = 'price' + (i -
                                                                                                                          2);
                        }
                        if (i > 1 && j == 4) {
                            document.getElementById("dynamicTable4").rows[i].cells[j].setAttribute('name', 'amount' + (i -
                                                                                                                       2));
                        }
                    }
                }

                var tableLength = document.getElementById("dynamicTable4length");
                tableLength.setAttribute('value', i - 3)
                console.log('DELETE ProjRev()');

                computeRev();
            }

            function computeRev() {
                var rowCount = $('#dynamicTable4 tr').length - 2;

                for (var num = 0; num < rowCount; num++) {
                    $("input[name=qty" + num + "]").each(function () {
                        subtotal = $("input[name=price" + num + "]").val() * parseFloat($(
                            this).val());
                    });
                    $("input[name=price" + num + "]").each(function () {
                        subtotal = $("input[name=qty" + num + "]").val() * parseFloat(
                            $(this).val());
                    });
                    $("td[name=amount" + num + "]").text("Php " + subtotal.toFixed(2));
                }

                updateIncome();
            }

            function computeExp() {
                var rowCount = $('#dynamicTable5 tr').length - 3;

                for (var num = 0; num < rowCount; num++) {
                    $("input[name=qu" + num + "]").each(function () {
                        subtotal = $("input[name=pr" + num + "]").val() * parseFloat($(
                            this).val());
                    });
                    $("input[name=pr" + num + "]").each(function () {
                        subtotal = $("input[name=qu" + num + "]").val() * parseFloat(
                            $(this).val());
                    });
                    $("td[name=am" + num + "]").text("Php " + subtotal.toFixed(2));
                }

                updateIncome();
            }

            function updateIncome() {
                var totalIncome = 0;
                var totalRev = 0;
                var totalExp = 0;
                var num;

                var rowCountRev = $('#dynamicTable4 tr').length - 2;
                for (num = 0; num < rowCountRev; num++) {
                    $("input[name=qty" + num + "]").each(function () {
                        subtotal = $("input[name=price" + num + "]").val() * parseFloat($(
                            this).val());
                    });
                    $("input[name=price" + num + "]").each(function () {
                        subtotal = $("input[name=qty" + num + "]").val() * parseFloat(
                            $(this).val());
                    });
                    totalRev += subtotal;
                }

                var rowCountExp = $('#dynamicTable5 tr').length - 3;
                for (num = 0; num < rowCountExp; num++) {
                    $("input[name=qu" + num + "]").each(function () {
                        subtotal = $("input[name=pr" + num + "]").val() * parseFloat($(
                            this).val());
                    });
                    $("input[name=pr" + num + "]").each(function () {
                        subtotal = $("input[name=qu" + num + "]").val() * parseFloat(
                            $(this).val());
                    });
                    totalExp += subtotal;
                }

                totalIncome = totalRev - totalExp;
                $("th[name=projIncomeTotal]").text("Php " + totalIncome.toFixed(2));
            }

            //add row in projected expenses
            function addProjExp() {
                var row = document.createElement("tr");
                var col1 = document.createElement("td");
                col1.className = "collapsing";
                var div = document.createElement("div");
                div.className = "ui fitted checkbox";
                var cBox = document.createElement("input");
                cBox.setAttribute('type', 'checkbox');
                var label = document.createElement("label");

                var tableLength = document.getElementById("dynamicTable5length");
                row.setAttribute('value', tableLength.value)
                tableLength.setAttribute('value', parseInt(tableLength.value, 10) + 1)

                div.append(cBox);
                div.append(label);
                col1.append(div);

                var col2 = document.createElement("td");
                var input2 = document.createElement("input");
                input2.className = "inputron no-margin";
                input2.setAttribute('type', 'text');
                input2.setAttribute('required', true);
                input2.setAttribute('name', 'it' + tableLength.value);
                col2.append(input2);

                var col3 = document.createElement("td");
                var input3 = document.createElement("input");
                input3.className = "inputron no-margin";
                input3.setAttribute('type', 'number');
                input3.setAttribute('required', true);
                input3.setAttribute('name', 'qu' + tableLength.value);
                input3.setAttribute('onkeyup', 'computeExp()');
                input3.setAttribute('min', 0);
                input3.setAttribute('value', 0);
                col3.append(input3);

                var col4 = document.createElement("td");
                var input4 = document.createElement("input");
                input4.className = "inputron no-margin";
                input4.setAttribute('type', 'number');
                input4.setAttribute('required', true);
                input4.setAttribute('name', 'pr' + tableLength.value);
                input4.setAttribute('onkeyup', 'computeExp()');
                input4.setAttribute('min', 0);
                input4.setAttribute('value', 0.00);
                input4.setAttribute('step', 0.01)
                col4.append(input4);

                var col5 = document.createElement("td");
                col5.setAttribute('name', 'am' + tableLength.value);
                col5.className = "bg-gray";
                col5.innerHTML = "Php 0.00";

                row.append(col1);
                row.append(col2);
                row.append(col3);
                row.append(col4);
                row.append(col5);

                $("#dynamicTable5").find('tbody').append(row);

                console.log('ADD ProjExp()');
            }

            //delete row in projected expenses
            function deleteProjExp() {
                let tableRef = document.getElementById('dynamicTable5');
                let tbody = tableRef.querySelector("tbody");

                let checkedInputs = document.querySelectorAll("input[type='checkbox']:checked");
                Array.prototype.slice.call(checkedInputs)
                    .forEach(input => tbody.removeChild(input.parentNode.parentNode.parentNode))

                var i;
                //reset index
                for (i = 0; i < document.getElementById("dynamicTable5").rows.length - 1; i++) {
                    for (var j = 0; j < document.getElementById("dynamicTable5").rows[i].cells.length; j++) {
                        if (i > 1 && j == 1) {
                            document.getElementById("dynamicTable5").rows[i].cells[j].firstElementChild.name = 'it' + (i -
                                                                                                                       2);
                        }
                        if (i > 1 && j == 2) {
                            document.getElementById("dynamicTable5").rows[i].cells[j].firstElementChild.name = 'qu' + (i -
                                                                                                                       2);
                        }
                        if (i > 1 && j == 3) {
                            document.getElementById("dynamicTable5").rows[i].cells[j].firstElementChild.name = 'pr' + (i -
                                                                                                                       2);
                        }
                        if (i > 1 && j == 4) {
                            document.getElementById("dynamicTable5").rows[i].cells[j].setAttribute('name', 'am' + (i - 2));
                        }
                    }
                }

                var tableLength = document.getElementById("dynamicTable5length");
                tableLength.setAttribute('value', i - 3)
                console.log('DELETE ProjExp()');

                computeExp();
            }

            $(document).ready(function () {
                $(document).on('click', 'input[type=checkbox]', function () {
                    $(this).closest("tr").find('td').toggleClass("highlight", this.checked);
                });

                document.getElementById("btnAddCPD").addEventListener("click", function () {
                    addCPD();
                });

                document.getElementById("btnDeleteCPD").addEventListener("click", function () {
                    deleteCPD();
                });

                document.getElementById("btnAddPhead").addEventListener("click", function () {
                    addPhead();
                });

                document.getElementById("btnDeletePhead").addEventListener("click", function () {
                    deletePhead();
                });

                document.getElementById("btnAddBOE").addEventListener("click", function () {
                    addBOE();
                });

                document.getElementById("btnDeleteBOE").addEventListener("click", function () {
                    deleteBOE();
                });

                document.getElementById("btnAddProjRev").addEventListener("click", function () {
                    addProjRev();
                });

                document.getElementById("btnDeleteProjRev").addEventListener("click", function () {
                    deleteProjRev();
                });

                document.getElementById("btnAddProjExp").addEventListener("click", function () {
                    addProjExp();
                });

                document.getElementById("btnDeleteProjExp").addEventListener("click", function () {
                    deleteProjExp();
                });

                //adds Source of Funds automatically and Organizational Funds
                var i = 0;
                $("input").change(function () {
                    var sum_SOF = 0;
                    var sum_OF = 0;
                    var remBalance = 0;

                    //Source of Funds
                    $("input[name=OrganizationalFunds]").each(function () {
                        sum_SOF = sum_SOF + parseFloat($(this).val());
                    });
                    $("input[name=ParticipantsFee]").each(function () {
                        sum_SOF = sum_SOF + parseFloat($(this).val());
                    });
                    $("input[name=OtherFunds]").each(function () {
                        sum_SOF = sum_SOF + parseFloat($(this).val());
                    });
                    $("th[name=totalSource]").text("Php " + sum_SOF.toFixed(2));

                    //Organizational Funds
                    $("input[name=OperationalFund]").each(function () {
                        sum_OF = sum_OF + parseFloat($(this).val());
                    });
                    $("input[name=DepositoryFund]").each(function () {
                        sum_OF = sum_OF + parseFloat($(this).val());
                    });
                    $("input[name=OtherFund]").each(function () {
                        sum_OF = sum_OF + parseFloat($(this).val());
                    });
                    $("td[name=totalDisbursement]").text("Php " + sum_OF.toFixed(2));
                });

                function calculateSum() {
                    var sum = 0;
                    $(".txt").each(function () {

                        if (!isNaN(this.value) && this.value.length != 0) {
                            sum += parseFloat(this.value);
                        }

                    });
                    //.toFixed() method will roundoff the final sum to 2 decimal places
                    $("#sum").html(sum.toFixed(2));
                }

                $("#dynamicTable3").on("keyup", ".txt", function () {
                    calculateSum();
                });

                //            $('input[name=phead_check][type=checkbox]').click(function(){
                //                if (this.checked) {
                //                    $('#btnDeletePhead').css('color', '#26BE9B');
                //                    $('#btnDeletePhead').css('border-color', '#26BE9B');
                //                }
                //                else {
                //                    $('#btnDeletePhead').css('color', '#DCDCDC');
                //                    $('#btnDeletePhead').css('border-color', '#DCDCDC');
                //                }
                //            });
            });
        </script>
    </body>
</html>