<html>

<head>
    <title>Create Project Proposal</title>

    <!--CSS-->
    <!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->

    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
    <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
    <script src="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="css/form2.css">

    <!--Scripts-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!--
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
-->
</head>

<body>
    <div class="main">
        <form action="create-form-2-confirm" method="post">
            <h1>Create Project Proposal</h1>
            <span>Brief Context / Perspective of the Activity</span>
            <br /><br />
            <span>Part 1<span class="red"> * </span></span>
            <ul>
                <li>What situation do you see (observation/s) in your organization, university, society, or our world?</li>
                <li>What certain experiences, problems, or questions do you have in relation to what you see? (May be supported with examples)</li>
            </ul>
            <textarea name='context1' rows="2" required></textarea>
            <br /><br />
            <span>Part 2<span class="red"> * </span></span>
            <ul>
                <li>Why is there a problem?</li>
                <li>What could be the cause and the effect?</li>
                <li>How did you feel about the experience, situation, or problem? And why did you feel that way?</li>
                <li>What can we discover or realize?</li>
            </ul>
            <textarea rows="2" name='context2' required></textarea>
            <br /><br />
            <span>Part 3<span class="red"> * </span></span>
            <ul>
                <li>Out of all the possible projects, activities, and solutions, why this?</li>
                <li>As an organization, what will you commit as a response to what you have started in Part 2?</li>
            </ul>
            <textarea rows="2" name='context3' required></textarea>

            <br /><br /><br />
            <span>Objectives<span class="red"> * </span></span>
            <br /><br />
            <div>
                1.
                <input class="inputron" name='objective1' type="text" required>
            </div>
            <br /><br />
            <div>
                2.
                <input class="inputron" name='objective2' type="text" required>
            </div>
            <br /><br />
            <div>
                3.
                <input class="inputron" name='objective3' type="text" required>
            </div>
            <br /><br />

            <input style="display:none;" value='0' id="dynamicTable1length" name="dynamicTable1len">
            <div>Project Head/s <span class="red">*</span></div>
            <table class="ui compact celled definition fixed table" id="dynamicTable1">
                <thead class="full-width">
                    <tr style="text-align: center;">
                        <th style="width: 40px;"></th>
                        <th class="item">NAME</th>
                        <th class="item">CONTACT NUMBER</th>
                    </tr>
                </thead>
                <tbody>
                    <tr value=0>
                        <td class="collapsing">
                            <div class="ui fitted checkbox">
                                <input type="checkbox"><label></label>
                            </div>
                        </td>
                        <td><input class="inputron no-margin" name="phead_name0" type="text" required></td>
                        <td><input class="inputron no-margin" name="phead_number0" type="number" required></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="row-button next" id="btnAddPhead">Add Row</button>
            <button type="button" class="row-button previous" id="btnDeletePhead">Delete Row</button>

            <br/><br/><br/><br/>
            <div>Comprehensive Program Design <span class="red">*</span></div>
            <table class="ui compact celled definition fixed table" id="dynamicTable2">
                <thead class="full-width">
                    <tr style="text-align: center;">
                        <th style="width: 40px;"></th>
                        <th class="item">START TIME TO END TIME</th>
                        <th class="item">ACTIVITY</th>
                        <th class="item">BRIEF DESCRIPTION OF THE ACTIVITY</th>
                        <th class="item">PERSON-IN-CHARGE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted checkbox">
                                <input type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td><input class="inputron no-margin" type="time" required><input class="inputron no-margin" type="time" required></td>
                        <td><textarea class="row-textarea" required></textarea></td>
                        <td><textarea class="row-textarea" required></textarea></td>
                        <td><textarea class="row-textarea" required></textarea></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="row-button next" id="btnAddCPD">Add Row</button>
            <button type="button" class="row-button previous" id="btnDeleteCPD">Delete Row</button>

            <br/><br/><br/><br/>
            <div>Breakdown of Expenses <span class="red">*</span></div>
            <table class="ui compact celled definition fixed table" id="dynamicTable3">
                <thead class="full-width">
                    <tr style="text-align: center;">
                        <th style="width: 40px;"></th>
                        <th class="item">Materials</th>
                        <th class="item">Quantity</th>
                        <th class="item">Unit Cost</th>
                        <th class="item">Total Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted checkbox">
                                <input type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td><input class="inputron no-margin" type="text" required></td>
                        <td><input class="inputron no-margin" type="number" required></td>
                        <td><input class="inputron no-margin" type="number" required></td>
                        <td><input class="inputron no-margin" type="number" required></td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th></th>
                        <th colspan="3" class="total">
                            <div class="ui right floated small primary labeled">
                                Total:
                            </div>
                        </th>
                        <th class="result">n/a</th>
                    </tr>
                </tfoot>
            </table>
            <button type="button" class="row-button next" id="btnAddBOE">Add Row</button>
            <button type="button" class="row-button previous" id="btnDeleteBOE">Delete Row</button>

            <br/><br/><br/><br/>
            <div>Source of Funds<span class="red">*</span></div>
            <table class="ui compact celled definition fixed table">
                <thead class="full-width">
                    <tr style="text-align: center;">
                        <th style="width: 40px;"></th>
                        <th class="item" style="width: 50%">Source/s of Funds</th>
                        <th class="item">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="collapsing">
                        </td>
                        <td>Organizational Funds</td>
                        <td>Php <input class="inputron no-margin table_input" name="OrganizationalFunds" type="number" value="0.00" min="0" step="0.01" required></td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                        </td>
                        <td>Participants Fee</td>
                        <td>Php <input class="inputron no-margin table_input" name="ParticipantsFee" type="number" value="0.00" min="0" step="0.01" required></td>
                    </tr>
                    <tr>
                        <td class="collapsing">
                        </td>
                        <td>Others (i.e. Sponsorships)</td>
                        <td>Php <input class="inputron no-margin table_input" name="OtherFunds" type="number" value="0.00" min="0" step="0.01" required></td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th></th>
                        <th colspan="1" class="total">
                            <div class="ui right floated small primary labeled">
                                Total:
                            </div>
                        </th>
                        <th class="result" name="totalSource">Php 0.00</th>
                    </tr>
                </tfoot>
            </table>

            <br/><br/>
            <div>Organizational Funds<span class="red">*</span></div>
            <table class="ui compact celled definition fixed table">
                <thead class="full-width">
                    <tr style="text-align: left;">
                        <th style="width: 40px;"></th>
                        <th class="item" style="width: 50%">Accumulated Operational Funds</th>
                        <th class="item"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="collapsing">

                        </td>
                        <td>
                            <div class="right">
                                Operational Fund
                            </div>
                        </td>
                        <td>Php <input class="inputron no-margin table_input" name="OperationalFund" type="number" value="0.00" min="0" step="0.01" required></td>
                    </tr>

                    <tr>
                        <td class="collapsing">

                        </td>
                        <td class="bold">Accumulated Depository Funds</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="collapsing">

                        </td>
                        <td>
                            <div class="right">
                                Depository Fund
                            </div>
                        </td>
                        <td>Php <input class="inputron no-margin table_input" name="DepositoryFund" type="number" value="0.00" min="0" step="0.01" required></td>
                    </tr>
                    <tr>
                        <td class="collapsing">

                        </td>
                        <td>Other Sources of Funds</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="collapsing">

                        </td>
                        <td>
                            <div class="right">
                                Participants Fee/Donation/Sponsorships
                            </div>
                        </td>
                        <td>Php <input class="inputron no-margin table_input" name="OtherFund" type="number" value="0.00" min="0" step="0.01" required></td>
                    </tr>
                    <tr>
                        <td class="collapsing">

                        </td>
                        <td class="bg-gray bold">
                            <div class="right italics">
                                Total Cash For Disbursement
                            </div>
                        </td>
                        <td class="bg-gray" name="totalDisbursement">Php 0.00</td>
                    </tr>
                    <tr>
                        <td class="collapsing">

                        </td>
                        <td>
                            <div class="right bold">
                                Less: Total Projected Expenses
                            </div>
                        </td>
                        <td>Php <input class="inputron no-margin table_input" name="ProjectedExpenses" type="number" value="0.00" min="0" step="0.01" required></td>
                    </tr>
                    <tr>
                        <td class="collapsing">

                        </td>
                        <td class="bg-gray">
                            <div class="right bold">
                                REMAINING BALANCE
                            </div>
                        </td>
                        <td>Php 0.00</td>
                    </tr>
                </tbody>
            </table>

            <br/><br/>
            <div>Projected Income <span class="red">*</span></div>
            <table class="ui compact celled definition fixed table" id="dynamicTable4">
                <thead class="full-width">
                    <tr>
                        <th style="width:40px"></th>
                        <th>Projected Revenue</th>
                        <th class="pj-border"></th>
                        <th class="pj-border"></th>
                        <th class="pj-border"></th>
                    </tr>
                    <tr style="text-align: center;">
                        <th style="width: 40px;"></th>
                        <th class="item">Item</th>
                        <th class="item">Qty</th>
                        <th class="item">Selling Price</th>
                        <th class="item">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted checkbox">
                                <input type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td><input class="inputron no-margin" type="text" required></td>
                        <td><input class="inputron no-margin" type="number" required></td>
                        <td><input class="inputron no-margin" type="number" required></td>
                        <td><input class="inputron no-margin" type="number" required></td>
                    </tr>
                </tbody>
            </table>
            <button type="button" class="row-button next" id="btnAddProjRev">Add Row</button>
            <button type="button" class="row-button previous" id="btnDeleteProjRev">Delete Row</button>


            <table class="ui compact celled definition fixed table" id="dynamicTable5">
                <thead class="full-width">
                    <tr>
                        <th style="width:40px"></th>
                        <th>Less: Projected Expenses</th>
                        <th class="pj-border"></th>
                        <th class="pj-border"></th>
                        <th class="pj-border"></th>
                    </tr>
                    <tr style="text-align: center;">
                        <th style="width: 40px;"></th>
                        <th class="item">Item</th>
                        <th class="item">Qty</th>
                        <th class="item">Selling Price</th>
                        <th class="item">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="collapsing">
                            <div class="ui fitted checkbox">
                                <input type="checkbox"> <label></label>
                            </div>
                        </td>
                        <td><input class="inputron no-margin" type="text" required></td>
                        <td><input class="inputron no-margin" type="number" required></td>
                        <td><input class="inputron no-margin" type="number" required></td>
                        <td><input class="inputron no-margin" type="number" required></td>
                    </tr>
                </tbody>
                <tfoot class="full-width">
                    <tr>
                        <th></th>
                        <th colspan="3" class="total">
                            <div class="ui right floated small primary labeled">
                                TOTAL PROJECTED INCOME:
                            </div>
                        </th>
                        <th class="result">n/a</th>
                    </tr>
                </tfoot>
            </table>
            <button type="button" class="row-button next" id="btnAddProjExp">Add Row</button>
            <button type="button" class="row-button previous" id="btnDeleteProjExp">Delete Row</button>

            <br /><br />
            <br /><br /> Provision for Profit and Loss
            <br /><br /> The following people shall be held liable and will shoulder any remaining balance incurred by the project.
            <br /><br />

            <span>Name of Person Responsible (Aside from you)<span class="red"> * </span></span>
            <br />
            <input class="inputron" name='namePR' type="text" required>
            <br /><br />
            <span>Position<span class="red"> * </span></span>
            <br />
            <input class="inputron" name='positionPR' type="text" required>
            <br /><br />

            <div class="button-align">
                <button type="submit" class="submit-button previous">Previous</button>
                <button type="submit" class="submit-button next">Submit</button>
            </div>
        </form>
    </div>
    <script>
        //add project head
        function addPhead() {
            var row = document.createElement("tr");
            var col1 = document.createElement("td");
            col1.className = "collapsing";
            var div = document.createElement("div");
            div.className = "ui fitted checkbox";
            var cBox = document.createElement("input");
            cBox.setAttribute('type', 'checkbox');
            var label = document.createElement("label");

            var tableLength = document.getElementById("dynamicTable1length");
            console.log(tableLength.value)
            row.setAttribute('value', tableLength.value)
            console.log(tableLength.value)
            tableLength.setAttribute('value', parseInt(tableLength.value, 10) + 1)

            div.append(cBox);
            div.append(label);
            col1.append(div);

            var col2 = document.createElement("td");
            var input2 = document.createElement("input");
            input2.className = "inputron no-margin";
            input2.setAttribute('type', 'text');
            input2.setAttribute('required', true);
            input2.setAttribute('name', 'phead_name' + tableLength.value);
            col2.append(input2);

            var col3 = document.createElement("td");
            var input3 = document.createElement("input");
            input3.className = "inputron no-margin";
            input3.setAttribute('type', 'number');
            input3.setAttribute('required', true);
            input3.setAttribute('name', 'phead_number' + tableLength.value)
            col3.append(input3);

            row.append(col1);
            row.append(col2);
            row.append(col3);

            $("#dynamicTable1").find('tbody').append(row);

            console.log('ADD PHEAD()');
        }

        //delete project head
        function deletePhead() {
            let tableRef = document.getElementById('dynamicTable1');
            let tbody = tableRef.querySelector("tbody");

            let checkedInputs = document.querySelectorAll("input[type='checkbox']:checked");
            Array.prototype.slice.call(checkedInputs)
                .forEach(input => tbody.removeChild(input.parentNode.parentNode.parentNode))
            console.log("DEBUG1")

            console.log(document.getElementById("dynamicTable1").rows[1].cells[1].firstElementChild.name)
            //var table = document.getElementById("dynamicTable1");
            for (var i = 0; i < document.getElementById("dynamicTable1").rows.length; i++) {
                for (var j = 0; j < document.getElementById("dynamicTable1").rows[i].cells.length; j++) {
                    if (i>0 &&j == 1) {
                        document.getElementById("dynamicTable1").rows[i].cells[j].firstElementChild.name = 'phead_name' + (i - 1)
                    }
                    if (i>0&&j == 2) {
                        //col.childNodes[0].setAttribute('name', 'phead_number'+i-1);
                        //$(col).child().attr('name', 'phead_number'+i-1)
                        document.getElementById("dynamicTable1").rows[i].cells[j].firstElementChild.name = 'phead_number' + (i - 1)
                    }
                }
            }

            console.log('DELETE PHEAD()');
        }

        //add row in comprehensive projgram design table
        function addCPD() {
            var row = document.createElement("tr");
            var col1 = document.createElement("td");
            col1.className = "collapsing";
            var div = document.createElement("div");
            div.className = "ui fitted checkbox";
            var cBox = document.createElement("input");
            cBox.setAttribute('type', 'checkbox');
            var label = document.createElement("label");

            div.append(cBox);
            div.append(label);
            col1.append(div);

            var col2 = document.createElement("td");
            var input2 = document.createElement("input");
            input2.className = "inputron no-margin";
            input2.setAttribute('type', 'time');
            input2.setAttribute('required', true);
            var input6 = document.createElement("input");
            input6.className = "inputron no-margin";
            input6.setAttribute('type', 'time');
            input6.setAttribute('required', true);
            col2.append(input2);
            col2.append(input6);

            var col3 = document.createElement("td");
            var input3 = document.createElement("textarea");
            input3.className = "row-textarea";
            input3.setAttribute('required', true);
            col3.append(input3);

            var col4 = document.createElement("td");
            var input4 = document.createElement("textarea");
            input4.className = "row-textarea";
            input4.setAttribute('required', true);
            col4.append(input4);

            var col5 = document.createElement("td");
            var input5 = document.createElement("textarea");
            input5.className = "row-textarea";
            input5.setAttribute('required', true);
            col5.append(input5);

            row.append(col1);
            row.append(col2);
            row.append(col3);
            row.append(col4);
            row.append(col5);

            $("#dynamicTable2").find('tbody').append(row);

            console.log('ADD ROW()');
        }

        //delete row in comprehensive projgram design table
        function deleteCPD() {
            let tableRef = document.getElementById('dynamicTable2');
            let tbody = tableRef.querySelector("tbody");

            let checkedInputs = document.querySelectorAll("input[type='checkbox']:checked");
            Array.prototype.slice.call(checkedInputs)
                .forEach(input => tbody.removeChild(input.parentNode.parentNode.parentNode))

            console.log('DELETE ROW()');
        }

        //add row in break down of expenses
        function addBOE() {
            var row = document.createElement("tr");
            var col1 = document.createElement("td");
            col1.className = "collapsing";
            var div = document.createElement("div");
            div.className = "ui fitted checkbox";
            var cBox = document.createElement("input");
            cBox.setAttribute('type', 'checkbox');
            var label = document.createElement("label");

            div.append(cBox);
            div.append(label);
            col1.append(div);

            var col2 = document.createElement("td");
            var input2 = document.createElement("input");
            input2.className = "inputron no-margin";
            input2.setAttribute('type', 'text');
            input2.setAttribute('required', true);
            col2.append(input2);

            var col3 = document.createElement("td");
            var input3 = document.createElement("input");
            input3.className = "inputron no-margin";
            input3.setAttribute('type', 'number');
            input3.setAttribute('required', true);
            col3.append(input3);

            var col4 = document.createElement("td");
            var input4 = document.createElement("input");
            input4.className = "inputron no-margin";
            input4.setAttribute('type', 'number');
            input4.setAttribute('required', true);
            col4.append(input4);

            var col5 = document.createElement("td");
            var input5 = document.createElement("input");
            input5.className = "inputron no-margin";
            input5.setAttribute('type', 'number');
            input5.setAttribute('required', true);
            col5.append(input5);

            row.append(col1);
            row.append(col2);
            row.append(col3);
            row.append(col4);
            row.append(col5);

            $("#dynamicTable3").find('tbody').append(row);

            console.log('ADD BOE()');
        }

        //delete project head
        function deleteBOE() {
            let tableRef = document.getElementById('dynamicTable3');
            let tbody = tableRef.querySelector("tbody");

            let checkedInputs = document.querySelectorAll("input[type='checkbox']:checked");
            Array.prototype.slice.call(checkedInputs)
                .forEach(input => tbody.removeChild(input.parentNode.parentNode.parentNode))

            console.log('DELETE BOE()');
        }

        //add row in projected revenue
        function addProjRev() {
            var row = document.createElement("tr");
            var col1 = document.createElement("td");
            col1.className = "collapsing";
            var div = document.createElement("div");
            div.className = "ui fitted checkbox";
            var cBox = document.createElement("input");
            cBox.setAttribute('type', 'checkbox');
            var label = document.createElement("label");

            div.append(cBox);
            div.append(label);
            col1.append(div);

            var col2 = document.createElement("td");
            var input2 = document.createElement("input");
            input2.className = "inputron no-margin";
            input2.setAttribute('type', 'text');
            input2.setAttribute('required', true);
            col2.append(input2);

            var col3 = document.createElement("td");
            var input3 = document.createElement("input");
            input3.className = "inputron no-margin";
            input3.setAttribute('type', 'number');
            input3.setAttribute('required', true);
            col3.append(input3);

            var col4 = document.createElement("td");
            var input4 = document.createElement("input");
            input4.className = "inputron no-margin";
            input4.setAttribute('type', 'number');
            input4.setAttribute('required', true);
            col4.append(input4);

            var col5 = document.createElement("td");
            var input5 = document.createElement("input");
            input5.className = "inputron no-margin";
            input5.setAttribute('type', 'number');
            input5.setAttribute('required', true);
            col5.append(input5);

            row.append(col1);
            row.append(col2);
            row.append(col3);
            row.append(col4);
            row.append(col5);

            $("#dynamicTable4").find('tbody').append(row);

            console.log('ADD ProjRev()');
        }

        //delete row in projected revenue
        function deleteProjRev() {
            let tableRef = document.getElementById('dynamicTable4');
            let tbody = tableRef.querySelector("tbody");

            let checkedInputs = document.querySelectorAll("input[type='checkbox']:checked");
            Array.prototype.slice.call(checkedInputs)
                .forEach(input => tbody.removeChild(input.parentNode.parentNode.parentNode))

            console.log('DELETE ProjRev()');
        }

        //add row in projected expenses
        function addProjExp() {
            var row = document.createElement("tr");
            var col1 = document.createElement("td");
            col1.className = "collapsing";
            var div = document.createElement("div");
            div.className = "ui fitted checkbox";
            var cBox = document.createElement("input");
            cBox.setAttribute('type', 'checkbox');
            var label = document.createElement("label");

            div.append(cBox);
            div.append(label);
            col1.append(div);

            var col2 = document.createElement("td");
            var input2 = document.createElement("input");
            input2.className = "inputron no-margin";
            input2.setAttribute('type', 'text');
            input2.setAttribute('required', true);
            col2.append(input2);

            var col3 = document.createElement("td");
            var input3 = document.createElement("input");
            input3.className = "inputron no-margin";
            input3.setAttribute('type', 'number');
            input3.setAttribute('required', true);
            col3.append(input3);

            var col4 = document.createElement("td");
            var input4 = document.createElement("input");
            input4.className = "inputron no-margin";
            input4.setAttribute('type', 'number');
            input4.setAttribute('required', true);
            col4.append(input4);

            var col5 = document.createElement("td");
            var input5 = document.createElement("input");
            input5.className = "inputron no-margin";
            input5.setAttribute('type', 'number');
            input5.setAttribute('required', true);
            col5.append(input5);

            row.append(col1);
            row.append(col2);
            row.append(col3);
            row.append(col4);
            row.append(col5);

            $("#dynamicTable5").find('tbody').append(row);

            console.log('ADD ProjExp()');
        }

        //delete row in projected expenses
        function deleteProjExp() {
            let tableRef = document.getElementById('dynamicTable5');
            let tbody = tableRef.querySelector("tbody");

            let checkedInputs = document.querySelectorAll("input[type='checkbox']:checked");
            Array.prototype.slice.call(checkedInputs)
                .forEach(input => tbody.removeChild(input.parentNode.parentNode.parentNode))

            console.log('DELETE ProjExp()');
        }

        $(document).ready(function() {

            document.getElementById("btnAddCPD").addEventListener("click", function() {
                addCPD();
            });

            document.getElementById("btnDeleteCPD").addEventListener("click", function() {
                deleteCPD();
            });

            document.getElementById("btnAddPhead").addEventListener("click", function() {
                addPhead();
            });

            document.getElementById("btnDeletePhead").addEventListener("click", function() {
                deletePhead();
            });

            document.getElementById("btnAddBOE").addEventListener("click", function() {
                addBOE();
            });

            document.getElementById("btnDeleteBOE").addEventListener("click", function() {
                deleteBOE();
            });

            document.getElementById("btnAddProjRev").addEventListener("click", function() {
                addProjRev();
            });

            document.getElementById("btnDeleteProjRev").addEventListener("click", function() {
                deleteProjRev();
            });

            document.getElementById("btnAddProjExp").addEventListener("click", function() {
                addProjExp();
            });

            document.getElementById("btnDeleteProjExp").addEventListener("click", function() {
                deleteProjExp();
            });

            //adds Source of Funds automatically and Organizational Funds
            $("input").change(function() {
                var sum_SOF = 0;
                var sum_OF = 0;
                var remBalance = 0;

                //Source of Funds
                $("input[name=OrganizationalFunds]").each(function() {
                    sum_SOF = sum_SOF + parseFloat($(this).val());
                });
                $("input[name=ParticipantsFee]").each(function() {
                    sum_SOF = sum_SOF + parseFloat($(this).val());
                });
                $("input[name=OtherFunds]").each(function() {
                    sum_SOF = sum_SOF + parseFloat($(this).val());
                });
                $("th[name=totalSource]").text("Php " + sum_SOF.toFixed(2));

                //Organizational Funds
                $("input[name=OperationalFund]").each(function() {
                    sum_OF = sum_OF + parseFloat($(this).val());
                });
                $("input[name=DepositoryFund]").each(function() {
                    sum_OF = sum_OF + parseFloat($(this).val());
                });
                $("input[name=OtherFund]").each(function() {
                    sum_OF = sum_OF + parseFloat($(this).val());
                });
                $("td[name=totalDisbursement]").text("Php " + sum_OF.toFixed(2));

            });
        });

    </script>
</body>

</html>
