<nav id="primary-nav">
	<ul>
		<% if (preacts) { %>
		<a href="/preacts">
			<li :class = "active['preacts'] ? 'active' : ''">
				<i class="fa fa-file"> </i>
			</li>
		</a>
		<% } %>
<!--
		
		<a href="/postacts">
			<li :class = "active['postacts'] ? 'active' : ''">
				<i class="fa fa-file-text-o"> </i>
			</li>
		</a>
-->
		<% if (accounts) { %>
		<a href="/accounts">
			<li :class = "active['accounts'] ? 'active' : ''">
				<i class="fa fa-user-o"> </i>
			</li>
		</a>
		<% } %>
		<% if (organization) { %>
		<a href="/organization">
			<li :class = "active['organization'] ? 'active' : ''">
				<i class="fa fa-building-o"> </i>
			</li>
		</a>
		<% } %>
	</ul>
</nav>

<script src="lib/vue.min.js" type="text/javascript"></script>
<script src="js/vue_nav.js" type="text/javascript"> </script>

<!-- stylesheet -->
<link rel="stylesheet" type="text/css" href="css/theme.css" />
<link rel="stylesheet" type="text/css" href="css/variables.css" />
<link rel="stylesheet" type="text/css" href="css/approver.css" />
<!-- element-stylesheet -->
<link rel="stylesheet" type="text/css" href="css/element-stylesheet/flex.css" />
<link rel="stylesheet" type="text/css" href="css/element-stylesheet/button.css" />
<link rel="stylesheet" type="text/css" href="css/element-stylesheet/field.css" />
