<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <title> CSO Tests </title>

        <!-- LIBRARIES -->
        <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet" />

        <script src="lib/jquery-3.3.1.min.js" type="text/javascript"> </script>
        <script src="lib/bootstrap/js/bootstrap.min.js" type="text/javascript"> </script>
        <script src="lib/axios.min.js" type="text/javascript"></script>
    
        <!-- FILES -->
        <link href="css/vertical_center.css" rel="stylesheet" type="text/css"/>
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
        <link href="css/element-stylesheet/button.css" rel="stylesheet" type="text/css"/>
        <link href="css/element-stylesheet/field.css" rel="stylesheet" type="text/css"/>
        <link href="css/element-stylesheet/flex.css" rel="stylesheet" type="text/css"/>
        
        <script src = "js/test.js" type="text/javascript"> </script>

    </head>
    <body>
        <div class="align-center parent">
            <div class="align-center child">
                <button class = "btn btn-primary" id = "test"> CLICK ME! </button>
                <h4> 
                    Current Time:  
                    <span id = "test-text"> </span>
                </h4>
            </div>
        </div>
    </body>
</html>