<!DOCTYPE html>
<html>
	<head>
		<title>User Management Dashboard</title>
		<!-- external links -->
		<!--<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />-->
		<link rel="stylesheet" href="lib/font-awesome.min.css" />
		<link href="https://fonts.googleapis.com/css?family=Merriweather:400,700" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
		<script src="lib/axios.min.js" type="application/javascript"> </script>

		<!-- stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/theme.css" />
		<link rel="stylesheet" type="text/css" href="css/variables.css" />
		<link rel="stylesheet" type="text/css" href="css/approver.css" />
		<link rel="stylesheet" type="text/css" href="css/user_dropdown.css" />
		<!-- element-stylesheet -->
		<link rel="stylesheet" type="text/css" href="css/element-stylesheet/flex.css" />
		<link rel="stylesheet" type="text/css" href="css/element-stylesheet/button.css" />
		<link rel="stylesheet" type="text/css" href="css/element-stylesheet/field.css" />

		<!-- for the modal -->
		<link rel="stylesheet" type="text/css" href="css/bootstrap_modal.css" />
		<script src="lib/jquery-3.3.1.min.js"></script>
		<script src="lib/popper.min.js"></script>
		<script src="lib/bootstrap/js/bootstrap.min.js"></script>

		<!-- javascript -->
		<script src="js/jquery-3.2.1.min.js" type="text/javascript"></script>
		<script src="js/approver.js" type="text/javascript"></script>



	</head>
	<body>
		<div id = "users">
			<!-- TO CREATE MODAL PREVIEW/EDIT HERE -->
			<%- include("nav_bar.ejs", this) %>
			<nav id="secondary-nav">
				<img src="assets/svg/logo_opps-logo-white.svg" id="system-logo" />
				<br/><br/>
				<div class="filter-wrapper">
					<div class="filter-title">
						<i class="fa fa-filter fa-2x"></i>
						<span>&nbsp;&nbsp;&nbsp;Filter Roles:</span>
					</div>
					<hr/>
					<ul>
						<li>
							<label>
								<input type="checkbox" />
								<span class="checkmark"><i class="fa fa-check"></i></span>
								<span>Project Head</span>
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" />
								<span class="checkmark"><i class="fa fa-check"></i></span>
								<span>Documentation Officer</span>
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" />
								<span class="checkmark"><i class="fa fa-check"></i></span>
								<span>Finance Officer</span>
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" />
								<span class="checkmark"><i class="fa fa-check"></i></span>
								<span>Org Unit Head</span>
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" />
								<span class="checkmark"><i class="fa fa-check"></i></span>
								<span>Executive Checker</span>
							</label>
						</li>
						<li>
							<label>
								<input type="checkbox" />
								<span class="checkmark"><i class="fa fa-check"></i></span>
								<span>Approver</span>
							</label>
						</li>
					</ul>
				</div>
			</nav>

			<header>
				<%- include("user_dropdown.ejs") %>
				<div class="flex-start">
					<h1 id="board-title">
						<i class="fa fa-user"></i> &nbsp; User Management
					</h1>
					&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
					<button class="hallow" data-toggle="modal" data-target="#adduser_modal"><i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;Add User</button>
				</div>
				<nav id="acts-nav">
					<ul>
						<li class="active">All ({{accounts.length}})</li>
						<li>Actived ({{accounts.length}})</li>
						<li>Deactivated (0)</li>
					</ul>
				</nav>
			</header>
			<section>
				<div id="main-content">
					<div id="select-wrapper">
						<label id="select-all">
							<input type="checkbox" name="select-all" />
							<span class="checkmark"><i class="fa fa-check"></i></span>
						</label>
						<input id="search" type="text" name="search" placeholder="Search for a user..." />
					</div>

					<div class="content-feed" id="users">
						<div class="content-feed" v-if="accounts.length == 0">
							No users yet
						</div>
						<div v-else v-for="user in accounts">
                            <div v-on:click = "quickviewUser(user._id)" class="content-wrapper">
                                <label class="content-select">
                                    <input type="checkbox" name="select-all" />
                                    <span class="checkmark"><i class="fa fa-check"></i></span>
                                </label>
                                <div class="activity-wrapper flex-start">
                                    <div class="activity-icon positive"><i class="fa fa-check"></i></div>
                                    <div class="activity">
                                        <h3>{{user.email}}</h3>
																				<p v-for="user_role in user.user_roles">{{user_role.role.name}} | {{user_role.org.abbrev}}</p>
                                    </div>
                                </div>
                                <div class="goto"><i class="fa fa-angle-right fa-2x"></i></div>
                            </div>
						</div>
					</div>
				</div>
				<div id="sidebar">
					<h3 class="action-title">Quick View</h3>
					<div v-if = "quickview" id="quick-view">
						<div class="info">
							<h4>Email Address</h4>
							<p>{{  /.email }}</p>
						</div>
						<div class="info">
							<h4>Role/s</h4>
							<span v-for="user_role in quickview.user_roles">
								<p>{{ user_role.role.name }} | {{ user_role.org.name }}</p>
								<div class="info">
									<p>{{ user_role.enabled ? 'Activated' : 'Disabled' }}</p>
								</div>
								<p class="action positive" v-if="!user_role.enabled"
									v-on:click="changeStatus(quickview.email, quickview.role_id, quickview.org_id)">
									<i class="fa fa-check-circle"></i> &nbsp; Set Active</p>
								<p class="action negative" v-else
									v-on:click="changeStatus(quickview.email, quickview.role_id, quickview.org_id)">
									<i class="fa fa-times-circle"></i> &nbsp; Set Inactive</p>
							</span>
						</div>
						<br/>
						<!-- <button class="hallow">Edit</button>
						<br/><br/><br/> -->
						<!-- <hr/> -->
						<hr/>
						<!-- <p class="action negative"><i class="fa fa-trash"></i> &nbsp; Delete</p> -->
						<!-- <hr/> -->
					</div>
				</div>
			</section>

			<!-- The Modal -->
				<div class="modal" id="adduser_modal">
					<div class="modal-dialog modal-medium">
						<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header">
							<h4 class="modal-title">Add New User</h4>
						</div>
						<form v-on:submit.prevent="onSubmit"action="/accounts" method="POST">

						<!-- Modal body -->
						<div class="modal-body">
							<table class="modal-table">
								<tr>
									<td>Email Address<br/><input type="text" class="half-width" v-model="user.email"></td>
									<td>Affiliation<br/>
										<select v-model="user.org_id">
											<option v-for="org in orgs" v-bind:value="org.org_id">
												{{ org.abbrev }}
											</option>
										</select>
									</td>
								</tr>

								<tr>
									<td>Password<br/><input type="password" class="half-width" v-model="user.password"></td>
									<td>Status<br/>
										<select v-model="user.status">
											<option value=true>Enabled</option>
											<option value=false>Disabled</option>
										</select>
									</td>
								</tr>

								<tr>
									<td>Confirm Password<br/><input type="password" class="half-width" v-model="user.cpassword"></td>
									<td>Role Name<br/>
										<select v-model="user.role_id">
											<option v-for="role in roles" v-bind:value="role._id">
												{{ role.name }}
											</option>
										</select>
									</td>
								</tr>
								<tr>
									<td id="error_msg"></td>
								</tr>
							</table>
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="button" class="hallow radius-full" data-dismiss="modal">Close</button>
							<button type="submit" class="radius-full">Add</button>
						</div>
						</form>
					</div>
				</div>
			</div>
		</body>
	</div>

	<script src="lib/vue.min.js" type="text/javascript"></script>
	<script src="js/vue_users.js" type="text/javascript"></script>
</html>
