<div id="account" class="flex-end">
            <div class="dropdown">
                <span id="account-name">
                    {{ whoami.firstname }} {{ whoami.lastname }} &nbsp; <i id="dropdownTab" class="fa fa-angle-down"></i>
                </span>
                <div class="dropdown-content">
                  <a href="/logout">Logout</a>
                </div>
            </div>
</div>
