body {
    padding: 20px;
    background-color: #26BE9B;

}

.main {
    width: 50%;
    margin-left: 25%;
    background-color: white;
    padding: 2%;
}

.main .labelHead {
    font-weight: 700;
    font-size: 14px;
}

.inputron {
    margin-top: 10px;
    border: none;
    border-bottom: 1.5px solid;
    border-bottom-color: #5e6479;
    width: 100%;
}

.inputron:focus {
    outline: none;

}

.container-of-ENMP-ENP {
    display: flex;
    flex-direction: row;
}

.ENMP-holder {
    margin-right: 10px;
    width: 50%;
}

.EMP-holder {
    width: 50%;
}

.submit-button {
    margin-top: 5%;
    background: white;
    border-color: #26BE9B;
    border-style: solid;
    color: #26BE9B;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    font-weight: 700;
}

.next:hover {
    background: #26BE9B;
    border-color: white;
    color: white;
    border-style: solid;
}

.previous {
    border-color: #DCDCDC;
    color: #DCDCDC;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}