body {
    background-color: #a3e2d5 !important;
}

textarea {
    margin: 0 !important;
    -webkit-appearance: none !important;
    padding: .78571429em 1em !important;
    background: #FFF !important;
    border: 1px solid rgba(34, 36, 38, .15) !important;
    color: rgba(0, 0, 0, .87) !important;
    border-radius: .28571429rem !important;
    -webkit-transition: color .1s ease, border-color .1s ease !important;
    transition: color .1s ease, border-color .1s ease !important;
    font-size: 1em !important;
    line-height: 1.2857 !important;
    resize: none !important;
    width: 100% !important;
}

.row-textarea {
    border: none !important;
    resize: none !important;
}

.main {
    background-color: white !important;
}

.main .labelHead {
    font-weight: 700 !important;
}

.red {
    color: #CA1010;
}

i.blue {
    color: #26BE9B;
}

.highlight {
    background-color: lightyellow !important;
    /* color: white; */
}

td.highlight input {
    background-color: lightyellow !important;
}

td.highlight textarea {
    background-color: lightyellow !important;
}

.inputron {
    border: none !important;
    border-bottom: 1px solid rgba(34, 36, 38, .15) !important;
    padding: .5em .2em !important;
    line-height: 1.2857 !important;
    width: 100% !important;
    border-radius: 0px !important;
}

.table_input {
    margin-top: 0px !important;
    width: 70% !important;
}

.inputron:focus {
    outline: none !important;
}

.no-margin {
    border: none !important;
    margin-top: -0.1em !important;
}

.row-button {
    float: right;
    margin-bottom: 20px;
    margin-left: 10px;
    background: white;
    border-color: #26BE9B;
    border-style: solid;
    color: #26BE9B;
    border-radius: 5px;
    height: 40px;
    font-weight: 700;
}

.submit-button {
    margin-top: 5%;
    margin-right: 10px;
    background: white;
    border-color: #26BE9B;
    border-style: solid;
    color: #26BE9B;
    border-radius: 5px;
    height: 50px;
    font-weight: 700;
    display: block;
    width: 100%;
}

.next:hover {
    background: #26BE9B;
    border-color: #26BE9B;
    color: white;
    border-style: solid;
}

.previous {
    border-color: #DCDCDC;
    color: #DCDCDC;
}

.previous:hover {
    background: #CA1010;
    border-color: #CA1010;
    color: white;
    border-style: solid;
}

.div-input {
    display: flex !important;
    flex-direction: row !important;
    border: none !important;
    border-bottom: 1.5px solid !important;
    border-bottom-color: #5e6479 !important;
}

.total div {
    position: relative !important;
    right: 5px !important;
}

.bold {
    font-weight: 700 !important;
}

.right {
    text-align: right !important;
}

.bg-gray {
    background-color: #F7F7F7 !important;
}

.pj-border {
    border-left-style: none !important;

}

.pwp {
    white-space: pre !important;
}

.php {
    width: auto !important;
    display: flex !important;
    flex-direction: row-reverse !important;
}

.italics {
    font-style: italic !important;
}

textarea {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    height: 107px !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;
}

input[type=number] {
    -moz-appearance: textfield !important;
}

.ui.table.borderless tr td {
    border-top: 0px !important;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
  display: none;
}

/* Make circles that indicate the steps of the form: */
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none; 
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #4CAF50;
}