/* theme stylesheet */

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
  	overflow: hidden;
    font-family: "Lato", sans-serif;
}

h1, h2, h3, h4, h5, h6{
	font-family: "Merriweather", sans-serif;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

p{
	font-family: "Lato", sans-serif;
	margin: 0;
	padding: 0;
}

a{
	text-decoration: none;
	color: inherit;
}

hr{
	border: none;
	border-top: thin solid #DDD;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

textarea {
    margin: 0 !important;
    -webkit-appearance: none !important;
    padding: .78571429em 1em !important;
    background: #FFF !important;
    border: 1px solid rgba(34, 36, 38, .15) !important;
    color: rgba(0, 0, 0, .87) !important;
    border-radius: .28571429rem !important;
    -webkit-transition: color .1s ease, border-color .1s ease !important;
    transition: color .1s ease, border-color .1s ease !important;
    font-size: 1em !important;
    line-height: 1.2857 !important;
    resize: none !important;
    width: 95% !important;
}
