@import url('https://fonts.googleapis.com/css?family=Lato|Roboto');

:root {
	--theme-color: #26BE9B;
	--theme-color-light-accent: #48FFD5;
	--theme-dark-1: #5E6479;
	--theme-dark-2: #3A3E4B;
	--theme-dark-3: #18191E;
	--theme-light-1: #FFFFFF;
	--theme-light-2: #E7E7E7; 
}
