.align-center.parent {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-center.child {
    overflow: auto;
    max-height: 100%;
}