:root {
    --theme-button-color: #26BE9B;
    --theme-button-accent: #48FFD5;
    --theme-button-dark-color: #5E6479;
    --theme-button-dark-accent: #3A3E4B;
    --theme-button-light-color: white;
    --theme-button-light-accent: #E7E7E7;

    --theme-button-color-value: white;
}

body {
    background-color: #a3e2d5;
    font-size: 14px;
}

table {
    width: 100%;
    font-size: 14px;
    border: 2px solid black;
}

th {
    width: 20%;
    text-align: left;
}

h1 {
    text-align: center;
    -webkit-column-span: all;
    padding-bottom: 3%;
}

#main {
    width: 90%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 3%;
    column-count: 2;
    column-gap: 5em;
    background-color: white;
    column-rule: 0px solid black;

}

.box {
    padding: 3%;
    border: 2px solid black;
    word-wrap: break-word;
}

.cell {
    text-align: center;
    padding: 2%;
    border: 2px solid black;
    word-wrap: break-word;

}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.gray-bg {
    background-color: #b9b9b9;
}

.button {
    margin: 5px;
    padding: 1em;
    cursor: pointer;
    border-radius: 3px;
    width: 20%;
    text-align: center;
    float: right;
    border: none;
}

.reject {
    background-color: #FF4F4F;
}

.approve {
    background-color: #2bd673;
}

.done {
    border: 1px solid;
    border-color: var(--theme-button-color);
    background-color: transparent;
    color: var(--theme-button-color);
}

.reject:hover {
    color: white;
}

.approve:hover {
    color: white;
}

.done:hover {
    background-color: var(--theme-button-color);
    border-color: var(--theme-button-color);
    color: var(--theme-button-color-value);
}
.obj{
    word-wrap: break-word;
}