<script src="static/lib/jquery-3.3.1.min.js" type="text/javascript"> </script>


<script src="static/js/sidebar.js" type="text/javascript"> </script>
<link href="static/css/sidebar.css" rel="stylesheet"/>
<link href="static/css/main.css" rel="stylesheet" />
<link href="static/css/element-stylesheet/field.css" rel="stylesheet" />

<div id = "sidebar-container">
    <div id = "sidebar">
        <button class = "item tab selected"> 
            <object class = "icon outline" type="image/svg+xml" data="static/assets/sidebar/written-file.svg">
                Your browser does not support SVGs
            </object>
            <object class = "icon solid" type="image/svg+xml" data="static/assets/sidebar/writtten-file-solid.svg">
                Your browser does not support SVGs
            </object>
        </button>
        <button class = "item tab"> 
            <object class = "icon outline" type="image/svg+xml" data="static/assets/sidebar/files.svg">
                Your browser does not support SVGs
            </object>
            <object class = "icon solid" type="image/svg+xml" data="static/assets/sidebar/files-solid.svg">
                Your browser does not support SVGs
            </object>
        </button>
        <button class = "item tab"> 
            <object class = "icon outline" type="image/svg+xml" data="static/assets/sidebar/users.svg">
                Your browser does not support SVGs
            </object>
            <object class = "icon solid" type="image/svg+xml" data="static/assets/sidebar/users-solid.svg">
                Your browser does not support SVGs
            </object>
        </button>
    </div>

    <div id = "submenu">
        <div class = "brand"> 
            <object class = "icon" type = "image/svg+xml" data = "static/assets/sidebar/icon.svg"> 
                Your browser does not support SVGs
            </object>
            <h5 class = "title">
                Online Paperless Processing System
            </h5>
        </div>
        <div class = "space"> </div>
        <div class = "filter">
            <div class = "title">         
                <object class = "icon" type = "image/svg+xml" data = "static/assets/sidebar/filter.svg">  
                    Your browser does not support SVGs
                </object>
                <h5 class = "text"> Status Filter: </h5>
            </div>
            <div class = "fields">
                <div class = "item"> 
                    <input type="checkbox" value="name"> 
                    <label> Early Complete </label>
                </div>
                <div class = "item"> 
                    <input type="checkbox"> 
                    <label> Late Complete </label>
                </div>
                <div class = "item"> 
                    <input type="checkbox"> 
                    <label> Early Incomplete </label>
                </div>
                <div class = "item"> 
                    <input type="checkbox"> 
                    <label> Late Incomplete </label>
                </div>
                <div class = "item"> 
                    <input type="checkbox"> 
                    <label> Acknowledge Cancellation </label>
                </div>
            </div>
        </div>
        <div class = "filter">
            <div class = "title">         
                <object class = "icon" type = "image/svg+xml" data = "static/assets/sidebar/filter.svg">  
                    Your browser does not support SVGs
                </object>
                <h5 class = "text"> College Filter: </h5>
            </div>
            <div class = "fields">
                <div class = "item"> 
                    <input type="checkbox" value="name"> 
                    <label> CLA </label>
                </div>
                <div class = "item"> 
                    <input type="checkbox"> 
                    <label> GCOE </label>
                </div>
                <div class = "item"> 
                    <input type="checkbox"> 
                    <label> CCS </label>
                </div>
                <div class = "item"> 
                    <input type="checkbox"> 
                    <label> COB </label>
                </div>
                <div class = "item"> 
                    <input type="checkbox"> 
                    <label> SOE </label>
                </div>
                <div class = "item"> 
                    <input type="checkbox"> 
                    <label> CED </label>
                </div>
                
                <div class = "item"> 
                    <input type="checkbox"> 
                    <label> COS </label>
                </div>
            </div>
        </div>
    </div>
</div>